<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:wp="http://brownmun"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">
	<!--/*@thymesVar id="creating" type="java.lang.Boolean"*/-->
    <!--/*@thymesVar id="committee" type="org.brownmun.model.committee.Committee"*/-->
	<head>
		<title th:unless="${creating}">Edit [[${committee.name}]]</title>
		<title th:if="${creating}">New Committee</title>
		<wp:chunk name="admin"/>
	</head>
	<body>
		<header layout:fragment="header">
			<h1 th:unless="${creating}">Editing [[${committee.name}]]</h1>
			<h1 th:if="${creating}">New Committee</h1>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#" th:href="@{/admin}">Admin</a></li>
				<li class="breadcrumb-item"><a href="#" th:href="${#mvc.url('CC#listCommittees').build()}">Committees</a></li>
				<li class="breadcrumb-item active" th:unless="${creating}">[[${committee.name}]]</li>
				<li class="breadcrumb-item active" th:if="${creating}">New Committee</li>
			</ol>
		</header>

		<div layout:fragment="body">
			<form action="#" th:action="${#mvc.url('CC#saveCommittee').build()}" th:object="${committee}" method="post">
				<input type="hidden" th:field="*{id}">
				<div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-danger'">
					<label for="name">Committee Name:</label>
					<input type="text" th:field="*{name}" class="form-control" placeholder="My Committee">
					<div class="form-control-feedback" th:errors="*{name}"></div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('shortName')}? 'has-danger'">
					<label for="shortName">Short Name:</label>
					<input type="text" th:field="*{shortName}" class="form-control" placeholder="ABCDE">
					<div class="form-control-feedback" th:errors="*{shortName}"></div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('committeeType')}? 'has-danger'">
					<label for="committeeType">Committee Type:</label>
					<select th:field="*{committeeType}" class="form-control">
						<option
							th:each="ctype : ${T(org.brownmun.model.committee.CommitteeType).values()}"
							th:value="${ctype.name()}"
							th:text="${ctype}">
							General
						</option>
					</select>
					<div class="form-control-feedback" th:errors="*{committeeType}"></div>
				</div>
				<div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" th:field="*{jointCrisis}">
                        Joint Crisis
                    </label>
                </div>
				<div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-danger'">
					<label for="description">Description:</label>
					<input type="text" th:field="*{description}" class="form-control" placeholder="A brief overview of this committee">
					<div class="form-control-feedback" th:errors="*{description}"></div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('topic1')}? 'has-danger'">
					<label for="topic1">Topic 1:</label>
					<input type="text" th:field="*{topic1}" class="form-control">
					<div class="form-control-feedback" th:errors="*{topic1}"></div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('topic2')}? 'has-danger'">
					<label for="topic2">Topic 2:</label>
					<input type="text" th:field="*{topic2}" class="form-control">
					<div class="form-control-feedback" th:errors="*{topic2}"></div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('topic3')}? 'has-danger'">
					<label for="topic3">Topic 3:</label>
					<input type="text" th:field="*{topic3}" class="form-control">
					<div class="form-control-feedback" th:errors="*{topic3}"></div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('topic4')}? 'has-danger'">
					<label for="topic4">Topic 4:</label>
					<input type="text" th:field="*{topic4}" class="form-control">
					<div class="form-control-feedback" th:errors="*{topic4}"></div>
				</div>
				<button type="submit" class="btn btn-primary">Save</button>
			</form>
		</div>
	</body>
</html>