<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="${committee.name}">Committee</title>
		<style>
			.assigned {
				color: green;
			}
			.unassigned {
				color: red;
			}
		</style>
	</head>
	<body>
		<h1 th:text="${committee.name}">Committee</h1>

		<h2>Positions</h2>
		<p th:text="${committee.assignedPositions + ' out of ' + committee.totalPositions + ' positions assigned'}">1/1 positions assigned</p>
		<ul>
			<li th:each="position : ${committee.positions}" th:classappend="${position.assigned} ? assigned : unassigned">
				<span th:text="${position.name}">Position Name</span>
				<span th:if="${position.assigned}">assigned to <span th:text="${position.delegate.name}">Delegate Name</span></span>
			</li>
		</ul>
	</body>
</html>