<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:wp="http://brownmun"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">
    <!--/*@thymesVar id="committee" type="org.brownmun.model.committee.Committee"*/-->
	<head>
		<title th:text="${committee.name}">Committee</title>
		<wp:chunk name="admin"/>
	</head>
	<body>
		<header layout:fragment="header">
			<h1>[[${committee.name}]] <span class="Committee--shortName">([[${committee.shortName}]])</span></h1>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#" th:href="@{/admin}">Admin</a></li>
				<li class="breadcrumb-item"><a href="#" th:href="${#mvc.url('CC#listCommittees').build()}">Committees</a></li>
				<li class="breadcrumb-item active"><a href="#" th:href="${#mvc.url('CC#viewCommittee').arg(0, committee.id).build()}">[[${committee.name}]]</a></li>
			</ol>
		</header>

		<div layout:fragment="body">
			<div>
				<a href="#" th:href="${#mvc.url('CC#editCommittee').arg(0, committee.id).build()}" class="btn btn-primary">Edit</a>
				<a href="#" th:href="${#mvc.url('CC#addPositions').arg(0, committee.id).build()}" class="btn btn-primary">Add Positions</a>
				<a href="#" th:href="${#mvc.url('CC#positions').arg(0, committee.id).build()}" class="btn btn-primary">Manage Positions</a>
				<a href="#" th:href="${#mvc.url('AC#index').buildAndExpand(committee.id)}" class="btn btn-primary">Attendance</a>
			</div>

			<h2>Positions</h2>
			<p>[[${committee.assignedPositions}]] / [[${committee.totalPositions}]] positions assigned</p>
			<ul>
				<li th:each="positions : ${committee.positions}" class="Committee--positions" th:classappend="${positions.assigned} ? assigned : unassigned">
					<span th:text="${positions.name}">Position Name</span>
					<span th:if="${positions.assigned}"> &mdash; <span th:text="${positions.delegate.school.name}">School Name</span></span>
				</li>
			</ul>

			<h2>Topics</h2>
			<ul>
				<li th:text="${committee.topic1}" th:unless="${#strings.isEmpty(committee.topic1)}">Topic 1</li>
				<li th:text="${committee.topic2}" th:unless="${#strings.isEmpty(committee.topic2)}">Topic 2</li>
				<li th:text="${committee.topic3}" th:unless="${#strings.isEmpty(committee.topic3)}">Topic 3</li>
				<li th:text="${committee.topic4}" th:unless="${#strings.isEmpty(committee.topic4)}">Topic 4</li>
			</ul>
		</div>
	</body>
</html>