<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:wp="http://brownmun"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base}">
    <head>
        <title>Print Queue</title>
        <wp:chunk name="index"/>
        <wp:chunk name="print"/>
        <script type="application/javascript" th:inline="javascript">
            window.staffEmail = [[${requester}]];
        </script>
    </head>
    <body>
        <header layout:fragment="header">
            <h1>Print Queue</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" th:href="@{/admin}">Admin</a></li>
                <li class="breadcrumb-item active">Print Queue</li>
            </ol>
        </header>
        <div layout:fragment="body">
            <div id="react-print" />
        </div>
    </body>
</html>