<!DOCTYPE HTML>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:wp="http://brownmun"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">
    <head>
        <title>Add Advisors</title>
        <wp:chunk name="index"/>
        <wp:chunk name="yourbusun"/>
    </head>
    <body>
        <header layout:fragment="header">
            <h1>Add Advisors</h1>
            <h2 th:text="${school.name}">School Name</h2>
        </header>
        <div layout:fragment="body">
            <hr>

            <div id="add-advisors"></div>
        </div>
    </body>
</html>