<!DOCTYPE HTML>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:wp="http://brownmun"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">
    <!--/*@thymesVar id="school" type="org.brownmun.model.School"*/-->
    <head>
        <title th:text="|Your BUSUN: ${school.name}|"></title>
        <wp:chunk name="index"/>
    </head>
    <body>
        <header layout:fragment="header">
            <h1>Your BUSUN</h1>
            <h2 th:text="${school.name}">School Name</h2>
        </header>
        <div layout:fragment="body">
            <hr>

            <div>
                <!--/*@thymesVar id="decisionState" type="java.lang.String"*/-->
                <p th:text="${#messages.msg('status.' + school.status.messageKey() + '.' + decisionState + '.info')}">Registration Info</p>
                <p th:text="${#messages.msg('status.' + school.status.messageKey() + '.' + decisionState + '.detail')}">Registration Details</p>
                <!--<p th:text="#{status.${school.status.messageKey()}.${decisionState}.info}">Registration Info</p>-->
                <!--<p th:text="#{status.${school.status.messageKey()}.${decisionState}.detail}">Registration Detail</p>-->
            </div>

            <p>
                <a href="/yourmun/add-advisors" class="btn btn-info">Invite Advisors</a>
            </p>

            <!--<div th:if="${(school.isAccepted() || school.isRegistered()) && decisionsPublic}">-->
                <!--<a href="/yourbusun/school-profile" class="btn btn-primary">School Profile</a>-->
                <!--<a href="/yourbusun/school-delegates" class="btn btn-primary">Committees and Positions</a>-->
                <!--<a href="/yourbusun/supplemental-info">Edit Supplemental Information</a>-->
            <!--</div>-->

            <p>
                <a href="/yourmun/change-password" class="btn btn-info">Change Password</a>
            </p>
        </div>
    </body>
</html>