<!DOCTYPE HTML>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:wp="http://brownmun"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">
    <!--/*@thymesVar id="school" type="org.brownmun.model.School"*/-->
    <!--/*@thymesVar id="loggedIn" type="org.brownmun.model.advisor.Advisor"*/-->
    <head>
        <title th:text="|Your #{conference.name}: ${school.name}|"></title>
        <wp:chunk name="index"/>
    </head>
    <body>
        <header layout:fragment="header">
            <h1 class="text-center" th:text="|Your #{conference.name}|">Your BUSUN</h1>
            <h2 class="text-center" th:text="${school.name}">School Name</h2>
        </header>
        <div layout:fragment="body">
            <div class="d-flex justify-content-center">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="/yourmun/change-password" class="nav-link">Change Password</a>
                    </li>
                    <li class="nav-item">
                        <a href="/yourmun/info" class="nav-link">Edit Supplemental Info</a>
                    </li>
                </ul>
            </div>

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#school-info" role="tab">School Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#logistics" role="tab">Logistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#advisors" role="tab">Advisors</a>
                </li>
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" data-toggle="tab" href="#finances" role="tab">Finances</a>-->
                <!--</li>-->
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="school-info" role="tabpanel">
                    <!-- Basic info -->
                    <ul class="list-group p-3">
                        <li class="list-group-item">Registration Status: [[${school.status}]]</li>
                        <li class="list-group-item">School Address: [[${school.info?.address?: '(not given)'}]]</li>
                        <li class="list-group-item">School Phone Number: [[${school.info?.phoneNumber?: '(not given)'}]]</li>
                    </ul>
                </div>

                <div class="tab-pane" id="logistics" role="tabpanel">
                    <ul class="list-group p-3">
                        <li class="list-group-item">Delegate Count: [[${school.info?.requestedDelegates?: '(not given)'}]]</li>
                        <li class="list-group-item">Chaperone Count: [[${school.info?.requestedChaperones?: '(not given)'}]]</li>
                        <li class="list-group-item" th:if="${school.info?.usingBusunHotel?: false}">
                            BUSUN Hotel: [[${school.info.hotel.name}]]
                        </li>
                        <li class="list-group-item" th:if="${school.info?.usingShuttle?: false}">
                            Using BUSUN shuttle
                        </li>
                    </ul>
                </div>

                <div class="tab-pane" id="advisors" role="tabpanel">
                    <div class="p-3">
                        <p>
                            <a href="/yourmun/add-advisors" class="btn btn-info">Invite Advisors</a>
                        </p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="advisor : ${school.advisors}">
                                    <td>
                                        <strong th:remove="${advisor.id == loggedIn.id} ? none : tag">
                                            [[${advisor.name}]]
                                            <span th:remove="${advisor.primary} ? none : all"> (Primary)</span>
                                        </strong>
                                    </td>
                                    <td th:text="${advisor.email}">Email Address</td>
                                    <td th:text="${advisor.phoneNumber}">Phone Number</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--<div class="tab-pane" id="finances" role="tabpanel">-->
                    <!--&lt;!&ndash; TODO: show financial aid info &ndash;&gt;-->
                    <!--<div class="p-3">-->
                        <!--<h3>Charges</h3>-->
                        <!--<table class="table">-->
                            <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th>Item</th>-->
                                    <!--<th>Amount</th>-->
                                    <!--<th>Time</th>-->
                                <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                                <!--&lt;!&ndash;/*@thymesVar id="charges" type="java.util.Collection<org.brownmun.model.LineItem>"*/&ndash;&gt;-->
                                <!--<tr th:each="charge : ${charges}">-->
                                    <!--<td th:text="${charge.name}">Charge Name</td>-->
                                    <!--<td th:text="${charge.formattedAmount()}"></td>-->
                                    <!--<td th:text="${#dates.format(charge.timestampAsDate)}"></td>-->
                                <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->

                        <!--<h3>Financial Aid Awards</h3>-->
                        <!--<table class="table">-->
                            <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th>Item</th>-->
                                    <!--<th>Amount</th>-->
                                    <!--<th>Time</th>-->
                                <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                                <!--&lt;!&ndash;/*@thymesVar id="aidAwards" type="java.util.Collection<org.brownmun.model.LineItem>"*/&ndash;&gt;-->
                                <!--<tr th:each="aidAward : ${aidAwards}">-->
                                    <!--<td th:text="${aidAward.name}">Charge Name</td>-->
                                    <!--<td th:text="${aidAward.formattedAmount()}"></td>-->
                                    <!--<td th:text="${#dates.format(aidAward.timestampAsDate)}"></td>-->
                                <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->

                        <!--<h3>Payments</h3>-->
                        <!--<table class="table">-->
                            <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th>Item</th>-->
                                    <!--<th>Amount</th>-->
                                    <!--<th>Time</th>-->
                                <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                                <!--&lt;!&ndash;/*@thymesVar id="payments" type="java.util.Collection<org.brownmun.model.LineItem>"*/&ndash;&gt;-->
                                <!--<tr th:each="payment : ${payments}">-->
                                    <!--<td th:text="${payment.name}">Charge Name</td>-->
                                    <!--<td th:text="${payment.formattedAmount()}"></td>-->
                                    <!--<td th:text="${#dates.format(payment.timestampAsDate)}"></td>-->
                                <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->

                        <!--&lt;!&ndash; TODO: show totals &ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            </div>

        </div>
    </body>
</html>