<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:wp="http://brownmun"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">
	<head>
		<title>Add Positions - [[${committeeName}]]</title>
		<wp:chunk name="admin"/>
		<wp:chunk name="committeeAdmin"/>
		<script th:inline="javascript">
			window.committeeId = [[${committeeId}]];
		</script>
	</head>
	<body>
		<header layout:fragment="header">
			<h1>Add Positions - [[${committeeName}]]</h1>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#" th:href="@{/admin}">Admin</a></li>
				<li class="breadcrumb-item"><a href="#" th:href="${#mvc.url('CC#listCommittees').build()}">Committees</a></li>
				<li class="breadcrumb-item active"><a href="#" th:href="${#mvc.url('CC#viewCommittee').arg(0, committeeId).build()}">[[${committeeName}]]</a></li>
			</ol>
		</header>

		<div layout:fragment="body">
			<div id="add-positions"></div>
		</div>
	</body>
</html>