<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:wp="http://brownmun"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base}">
    <!--/*@thymesVar id="breakdown" type="org.brownmun.web.admin.awards.AwardsBreakdown"*/-->
    <head>
        <title>Awards Breakdown</title>
        <wp:chunk name="admin"/>
    </head>
    <body>
        <header layout:fragment="header">
            <h1>Awards Breakdown</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" th:href="@{/admin}">Admin</a></li>
                <li class="breadcrumb-item"><a href="#" th:href="${#mvc.url('CC#listCommittees').build()}">Committees</a></li>
                <li class="breadcrumb-item active">Awards Breakdown</li>
            </ol>
        </header>

        <div layout:fragment="body">
            <div class="alert alert-danger" role="alert">
                <strong>Caution</strong> This will reset all awards information
            </div>

            <form method="post" action="">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Committee Name</th>
                            <th>Best Delegate Awards</th>
                            <th>Outstanding Delegate Awards</th>
                            <th>Honorable Delegate Awards</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="committee, stat : ${breakdown.committees}">
                            <td>
                                <span th:text="${committee.committeeName}"></span>
                                <input type="hidden"
                                       th:name="|committees[${stat.index}].committeeId|"
                                       th:value="${committee.committeeId}">
                            </td>
                            <td>
                                <input type="number"
                                       min="0"
                                       th:name="|committees[${stat.index}].bestDelegateCount|"
                                       th:value="${committee.bestDelegateCount}"
                                >
                            </td>
                            <td>
                                <input type="number"
                                       min="0"
                                       th:name="|committees[${stat.index}].outstandingDelegateCount|"
                                       th:value="${committee.outstandingDelegateCount}"
                                >
                            </td>
                            <td>
                                <input type="number"
                                       min="0"
                                       th:name="|committees[${stat.index}].honorableDelegateCount|"
                                       th:value="${committee.honorableDelegateCount}"
                                >
                            </td>
                        </tr>
                    </tbody>
                </table>

                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </body>
</html>