<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:wp="http://brownmun.org/th/webpack"
        xmlns:conference="http://brownmun.org/th/conference"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base.html}"
>
    <head>
        <title>Local Restaurants</title>
        <wp:chunk name="info-page"/>
    </head>

    <body>
        <main layout:fragment="content">
            <section class="info--body">
                <h1>Local Restaurants</h1>

                <p class="body-text">
                    Several eateries close to Brown’s campus are offering discounts for BUSUN delegates. Please show your BUSUN name tag to make use of these offerings:
                </p>

                <dl>
                    <dt>By Chloe &mdash; 223 Thayer Street</dt>
                    <dd>25% off all items</dd>

                    <dt>Wong’s Kitchen &mdash; 108 Waterman Street</dt>
                    <dd>1 free beverage with any meal</dd>

                    <dt>Chinatown on Thayer &mdash; 277 Thayer Street</dt>
                    <dd>1 free fountain drink with any 2-item combo meal</dd>

                    <dt>Meeting Street Cafe &mdash; 1335, 220 Thayer Street</dt>
                    <dd>10% off all items</dd>
                </dl>

                <p class="body-text">
                    Additionally, Tink-Knit, a student-run non-profit that supports local mothers by
                    teaching them to knit and providing a platform for them to sell their products
                    on, will be organizing a fundraiser at Chipotle at 235 Thayer Street from 5-9 pm.
                    Any student that eats there just has to say they’re there for Tink-Knit, and the
                    non-profit will receive 33% of the total proceeds. Help make a difference and
                    support local families!
                </p>
            </section>
        </main>
    </body>
</html>