<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:wp="http://brownmun.org/th/webpack"
        xmlns:conference="http://brownmun.org/th/conference"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base.html}"
>
    <head>
        <title>Shuttles and Parking</title>
        <wp:chunk name="info-page"/>
    </head>

    <body>
        <main layout:fragment="content">
            <img class="title-photo" src="https://storage.googleapis.com/busun_assets/title-images/shuttles-parking.jpg" alt="Shuttles and Parking">

            <section class="info--body">
                <h2>Shuttles</h2>

                <p class="body-text">
                    BUSUN provides shuttle service to campus <strong>for delegations staying at one of our partner
                    hotels.</strong> We heavily subsidize the cost of running shuttles, providing the service for the
                    entire duration of the conference for only $18 per person. Although our campus is only a 15 minute
                    walk from downtown, we strongly encourage all delegates and advisors to use this shuttle service for
                    safety and convenience.
                </p>

                <p class="body-text">
                    Exact shuttle schedules will be made available before the conference. Shuttles will run Friday
                    afternoon before registration, Friday night after committee session, before the first committee
                    session on Saturday, after the last committee session on Saturday evening, during the delegate
                    social on Saturday night, and before the first committee session on Sunday morning.
                </p>

                <p class="body-text">
                    Please note that shuttle services will not be provided to hotels at the end of closing ceremonies.
                    We will, however, provide a locked luggage room for any delegations wishing to store luggage on the
                    Sunday of conference weekend. Delegations will be asked to indicate their intentions to sign up for
                    the shuttle service after being accepted. Shuttle fees can be paid separately as cash or as a part
                    of the delegate fees due October 1, 2018.
                </p>

                <h2>Parking</h2>

                <p class="body-text">
                    Visitor-parking passes must be purchased for any delegations wishing to park on campus for an
                    extended period of time. These parking passes cost $15 per day per vehicle, regardless of vehicle
                    size. Buses and large vans will need to park at the parking lot for the Brown Stadium, located at
                    400 Elmgrove Avenue, Providence, RI 02906. Some BUSUN partner hotels may be able to accommodate
                    parking for buses and large vans, but we cannot guarantee this availability. Smaller vehicles and
                    cars may park in the Brown University Visitor Parking Lot located at 111 Power Street, Providence,
                    RI 02912. Delegations will be asked to indicate their need for visitor parking passes after being
                    accepted. Parking pass fees can be paid separately as cash or as a part of the delegate fees due
                    October 1, 2018.
                </p>

                <p class="body-text">
                    Please email <a href="mailto:info@busun.org">info@busun.org</a> with any questions or concerns about
                    logistics.
                </p>
            </section>

        </main>
    </body>
</html>