<!DOCTYPE html>
<html xmlns:wp="http://brownmun"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>About the Conference</title>
    <wp:chunk name="public"/>
</head>
<body>
<header layout:fragment="header">
    <h1>About the Conference</h1>
</header>
<div layout:fragment="body">
    <div class="about-section">
        <div class="about-image-container">
            <img class="about-image" src="https://storage.googleapis.com/bucs_assets/delegates.jpg" alt="BUCS Delegates">
        </div>
        <div class="about-description">

            <p>
                <strong>Brown University Crisis Simulation (BUCS)</strong> is a college crisis conference hosted by the
                Brown University Model United Nations club. BUCS strives above all else to create the best delegate
                experience possible. At BUCS, delegates will have the opportunity to debate, collaborate, and influence
                the flow of crisis to create new and exciting dilemmas.
            </p>
            <p>
                Committees at BUCS are small, capping out at twenty people per committee. This allows for a fast pace,
                intimate debate, and responsive crisis staff. BUCS demands prompt and effective decision-making, and
                rewards delegates who perform accordingly.
            </p>
            <p>
                BUCS draws upon a pool of seasoned crisis directors and staffers to ensure crisis committees are
                well-informed, well-structured, and well-run. The BUCS conference staff has extensive experience hosting
                crisis committees at Brown and attending crisis conferences worldwide. We know what it takes to deliver
                a rewarding crisis experience for all delegates, and we look forward to using this experience to craft
                an unforgettable weekend.
            </p>
        </div>
    </div>
</div>
</body>
</html>