.schedule {
    padding: 0 5vw;
    color: var(--color-dark);
}

.schedule-container {
    width: 80%;
    margin: auto;

    display: grid;
    grid-auto-flow: dense;

    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 1fr;

    grid-gap: 10px;
}

.schedule-date {
    grid-column: 1 / 3;
    justify-self: center;

    color: var(--color-primary);
    font-size: 1.2em;
}

.schedule-event {
    grid-column: 1;

    font-weight: bold;
}

.schedule-time {
    grid-column: 2;
}

.schedule-date.day-fri {
    grid-row: 1
}

.schedule-date.day-sat {
    grid-row: 11;
}

.schedule-date.day-sun {
    grid-row: 19;
}