PATH_add "$PWD/scripts"

# Use the pipenv-provided virtual environment
function load_venv() {
    set +e
    local venv
    venv="$(pipenv --venv 2>/dev/null)"
    local es=$?
    if [[ $es -eq 0 ]]; then
        source "$venv/bin/activate"
    fi
    set -e
}
load_venv

# Load a per-user .env file
if [[ -f .env ]]; then
  dotenv
fi