<!DOCTYPE html>
<html xmlns:wp="http://brownmun"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
    <head>
        <title>Keynote Speaker</title>
        <wp:chunk name="public"/>
    </head>
    <body>
        <header layout:fragment="header">
            <h1>Keynote Speaker</h1>
        </header>
        <div layout:fragment="body">
            <p>
                The keynote speaker for BUSUN XXI is currently being finalized. This page will be updated
                with more information shortly.
            </p>
        </div>
    </body>
</html>