<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:wp="http://brownmun"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">
    <head>
        <title>Forgot Password</title>
    </head>
    <body>
        <header layout:fragment="header">
            <h1>Forgot your password?</h1>
        </header>

        <div layout:fragment="body">
            <div class="alert alert-danger" role="alert" th:if="${errorCode}" th:text="#{${errorCode}}"></div>
            <div class="alert alert-success" role="alert" th:if="${message}" th:text="${message}"></div>
            <form th:action="@{/advisor/forgot-password}" method="post">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" class="form-control" id="email" name="email">
                    <p class="form-text text-muted">
                        We'll email you a link to reset your password
                    </p>
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        </div>
    </body>
</html>