<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:wp="http://brownmun"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base}">
<head>
    <title>Attendance - [[${committee.name}]]</title>
    <wp:chunk name="index"/>
    <wp:chunk name="attendance"/>
    <script type="application/javascript" th:inline="javascript">
        window.committeeId = [[${committee.id}]];
    </script>
</head>
<body>
<header layout:fragment="header">
    <h1>Attendance - [[${committee.name}]]</h1>
    <div id="loading-container"></div>
    <!--/*@thymesVar id="committee" type="org.brownmun.model.committee.Committee"*/-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" th:href="@{/admin}">Admin</a></li>
        <li class="breadcrumb-item"><a href="#" th:href="@{/admin/committee}">Committees</a></li>
        <li class="breadcrumb-item">
            <a href="#"
                th:href="${#mvc.url('CC#viewCommittee').arg(0, committee.id).build()}"
                th:text="${committee.name}">
                Committee Name
            </a>
        </li>
        <li class="breadcrumb-item active">Attendance</li>
    </ol>
</header>
<div layout:fragment="body">
    <div id="react-attendance" />
</div>
</body>
</html>