<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:wp="http://brownmun.org/th/webpack"
        xmlns:conference="http://brownmun.org/th/conference"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base.html}"
>
    <head>
        <title>Committees</title>
        <wp:chunk name="committees"/>
    </head>

    <body>
        <main layout:fragment="content" class="committees">

            <img src="https://storage.googleapis.com/busun_assets/title-images/coming-soon.jpg" alt="Coming Soon!" class="title-photo">

            <!--<aside>-->
                <!--<ul class="committee-menu">-->
                    <!--<li>General</li>-->
                    <!--<li>Spec</li>-->
                    <!--<li>Crisis</li>-->
                <!--</ul>-->
            <!--</aside>-->
            <!--<div class="committee-list">-->
                <!--<h1>BUSUN Committees</h1>-->

                <!--&lt;!&ndash;/*@thymesVar id="general" type="java.util.List<org.brownmun.db.committee.Committee>"*/&ndash;&gt;-->
                <!--<th:block th:unless="${#lists.isEmpty(general)}">-->
                    <!--<h2 data-scroll-key="general-committees">General Assemblies</h2>-->

                    <!--<th:block th:each="committee : ${general}">-->
                        <!--<section th:replace="~{committees/fragments :: committee (c=${committee})}" />-->
                    <!--</th:block>-->
                <!--</th:block>-->

                <!--&lt;!&ndash;/*@thymesVar id="spec" type="java.util.List<org.brownmun.db.committee.Committee>"*/&ndash;&gt;-->
                <!--<th:block th:unless="${#lists.isEmpty(spec)}">-->
                    <!--<h2>Specialized and Historical Committees</h2>-->

                    <!--<th:block th:each="committee : ${spec}">-->
                        <!--<section th:replace="~{committees/fragments :: committee (c=${committee})}" />-->
                    <!--</th:block>-->
                <!--</th:block>-->

                <!--&lt;!&ndash;/*@thymesVar id="crisis" type="java.util.List<org.brownmun.db.committee.Committee>"*/&ndash;&gt;-->
                <!--&lt;!&ndash;/*@thymesVar id="jointCrises" type="java.util.List<org.brownmun.db.committee.JointCrisis>"*/&ndash;&gt;-->
                <!--<th:block th:unless="${#lists.isEmpty(crisis) && #lists.isEmpty(jointCrises)}">-->
                    <!--<h2>Crisis Committees</h2>-->

                    <!--<th:block th:each="committee : ${crisis}">-->
                        <!--<section th:replace="~{committees/fragments :: committee (c=${committee})}" />-->
                    <!--</th:block>-->

                    <!--<section th:each="jointCrisis : ${jointCrises}" class="joint-crisis">-->
                        <!--<h3 th:text="${jointCrisis.name}">Joint Crisis Name</h3>-->
                        <!--<p th:unless="${#strings.isEmpty(jointCrisis.description)}" th:text="${jointCrisis.description}">-->
                            <!--Description-->
                        <!--</p>-->

                        <!--<ul>-->
                            <!--<li th:each="committee : ${jointCrisis.committees}">-->
                                <!--<th:block th:include="~{committees/fragments :: committee (c=${committee})}" />-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</section>-->
                <!--</th:block>-->

                <!--<div class="chunk">-->
                    <!--First-->
                <!--</div>-->
                <!--<div class="chunk">-->
                    <!--Second-->
                <!--</div>-->
                <!--<div class="chunk">-->
                    <!--Third-->
                <!--</div>-->
            <!--</div>-->
        </main>
    </body>
</html>