<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:wp="http://brownmun.org/th/webpack"
    xmlns:conference="http://brownmun.org/th/conference" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base.html}">

<head>
    <title>Schedule</title>
    <wp:chunk name="info-page" />
</head>

<body>
    <main layout:fragment="content" class="schedule">
        <th:block conference:if-busun>
            <h1>BUSUN 2020 Schedule</h1>
            <div class="schedule-container">
                All times are in U.S. Eastern Standard Time. Please note that we will not have a closing ceremony this
                year. All awards will be announced and distributed virtually.
            </div>

            <!--             
            <span class="schedule-time day-fri">3:15 PM - 4:00 PM</span>
            <span class="schedule-event day-fri">Admissions Information Session</span> -->

            <div class="schedule-container">
                <h2 class="schedule-date day-fri">Friday, November 6</h2>

                <!-- <span class="schedule-time day-fri">9:00 AM - 3:00 PM</span>
                <span class="schedule-event day-fri">International Relations <a
                        href="https://docs.google.com/document/d/14AzGeLFsqbyYl1rPkU53tP2Gr4POEjxVFjD_zRDx4c8/edit?usp=sharing">classes</a>
                    open to
                    delegates</span>

                <span class="schedule-time day-fri">1:00 - 6:00 PM</span>
                <span class="schedule-event day-fri">Conference Registration</span>

                <span class="schedule-time day-fri">2:00 - 3:00 PM</span>
                <span class="schedule-event day-fri">Campus Tour</span>


                <span class="schedule-time day-fri">4:00 PM - 5:00 PM</span>
                <span class="schedule-event day-fri">Parliamentary Procedure Training</span>

                <span class="schedule-time day-fri">4:00 PM - 5:00 PM</span>
                <span class="schedule-event day-fri">Crisis Training Workshop</span> -->

                <span class="schedule-time day-fri">7:00 PM - 8:00 PM</span>
                <span class="schedule-event day-fri">Opening Ceremonies (<a
                        href="https://docs.google.com/forms/d/e/1FAIpQLSd2Qgk_veBrYOmXESkAbEdxwNESjzAs_F9Pqwv55PS6y66Esg/viewform">Link
                        to Register</a>)</span>

                <!-- <span class="schedule-time day-fri">7:00 PM - 10:30 PM</span>
                <span class="schedule-event day-fri">Committee Session I</span>

                <span class="schedule-time day-fri">9:00 PM - 10:00 PM</span>
                <span class="schedule-event day-fri">Advisor Meeting I</span> -->

                <h2 class="schedule-date day-sat">Saturday, November 7</h2>

                <span class="schedule-time day-sat">9:00 AM - 12:00 PM</span>
                <span class="schedule-event day-sat">Committee Session I</span>

                <!-- <span class="schedule-time day-sat">11:00 AM - 12:00 PM</span>
                <span class="schedule-event day-sat">Advisor Meeting II</span> -->

                <span class="schedule-time day-sat">12:00 PM - 2:00 PM</span>
                <span class="schedule-event day-sat">Lunch Break</span>

                <span class="schedule-time day-sat">2:00 PM - 5:00 PM</span>
                <span class="schedule-event day-sat">Committee Session II</span>

                <!-- <span class="schedule-time day-sat">4:30 PM - 5:30 PM</span>
                <span class="schedule-event day-sat">Advisor Meeting III</span>

                <span class="schedule-time day-sat">6:00 PM - 8:00 PM</span>
                <span class="schedule-event day-sat">Dinner Break</span>

                <span class="schedule-time day-sat">8:00 PM - 10:00 PM</span>
                <span class="schedule-event day-sat">A Night at Brown: Delegate Social</span> -->

                <h2 class="schedule-date day-sun">Sunday, November 8</h2>

                <span class="schedule-time day-sun">9:00 AM - 12:00 PM</span>
                <span class="schedule-event day-sun">Committee Session III</span>

                <span class="schedule-time day-sun">12:00 PM - 2:00 PM</span>
                <span class="schedule-event day-sun">Lunch Break</span>

                <span class="schedule-time day-sun">2:00 PM - 5:00 PM</span>
                <span class="schedule-event day-sun">Committee Session IV</span>

                <!-- <span class="schedule-time day-sun">12:15 PM - 1:30 PM</span>
                <span class="schedule-event day-sun">Closing Ceremonies</span> -->
            </div>

            <!-- <section class="info--body">
                <h2><a name="open-classes">Classes Open to Delegates</a></h2>
                <dl>
                    <dt>To be announced!</dt>
                    <dt>POLS 1020: Politics of the Illicit Global Economy</dt>
                    <dd>10:00 &ndash; 10:50 AM in Smith-Buonanno Hall 106</dd>
                    <dt>POLS 1120: Campaigns and Elections</dt>
                    <dd>12:00 &ndash; 12:50 PM in Smith-Buonanno Hall 106</dd>
                    <dt>POLS 1390: Global Governance</dt>
                    <dd>11:00 &ndash; 11:50 AM in Friedman Hall 101</dd>
                </dl>
            </section> -->
        </th:block>
        <th:block conference:if-bucs>
            <img class="title-photo" src="https://storage.googleapis.com/busun_assets/title-images/coming-soon.jpg"
                alt="Coming Soon!">
        </th:block>
    </main>
</body>

</html>