<!DOCTYPE html>
<html xmlns:wp="http://brownmun"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
    <head>
        <title>Classes open to Delegates</title>
        <wp:chunk name="public"/>
    </head>
    <body>
        <header layout:fragment="header">
            <h1>Classes open to Delegates</h1>
        </header>
        <div layout:fragment="body">
            <p>
                These courses meet on the Friday of BUSUN and are open to having high school delegates attend.

                <table class="table">
                    <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>Professor</th>
                            <th>Time</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Intro to the American Political Process</td>
                            <td>Richard Arenberg</td>
                            <td>12:00 - 12:50 PM</td>
                            <td>Smith-Buonanno 160</td>
                        </tr>
                        <tr>
                            <td>Politics of the Illicit Global Economy</td>
                            <td>Peter Andreas</td>
                            <td>10:00 - 10:50 AM</td>
                            <td>List 120</td>
                        </tr>
                        <tr>
                            <td>Principles of Economics</td>
                            <td>Rachel Friedberg</td>
                            <td>9:00 - 9:50 AM</td>
                            <td>Salomon Center DECI</td>
                        </tr>
                        <tr>
                            <td>Prosperity: The Ethics and Economics of Wealth Creation</td>
                            <td>John Tomasi</td>
                            <td>1:00 - 1:50 PM</td>
                            <td>Smith-Buonanno 160</td>
                        </tr>
                        <tr>
                            <td>History of Capitalism</td>
                            <td>Seth Rockman</td>
                            <td>10:00 - 10:50 AM</td>
                            <td>Metcalf Auditorium</td>
                        </tr>
                    </tbody>
                </table>
            </p>
        </div>
    </body>
</html>