<!DOCTYPE html>
<html xmlns:wp="http://brownmun"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
    <head>
        <title>The Erinn Phelan Award</title>
        <wp:chunk name="public"/>
    </head>
    <body>
        <header layout:fragment="header">
            <h1>The Erinn Phelan Award</h1>
        </header>
        <div layout:fragment="body">
            <p>
                    BUSUN is proud to continue the special award instituted in 2011 – the <strong>Erinn Phelan Award</strong>,
                    in honor of Erinn Phelan, to be given to the delegate at BUSUN who demonstrates the greatest
                    commitment to the empowerment of women.
                </p>
                <p>
                    Erinn Phelan, a former BUSUN Secretary-General, was working as a coordinator in Mayor Bloomberg’s
                    NYC Civic Corps when she was involved in a hit-and-run accident in Brooklyn, NY. She was at that
                    time accompanied by her close friend, also a former BUSUN Secretary-General, Alma Guerrero.
                </p>
                <p>
                    BUSUN would like to honor these women and hopes that the Award will serve to motivate all delegates to
                    deepen their awareness of and commitment to women's empowerment.
                </p>
                <p>
                    The Erinn Phelan Award is presented to the delegate that best embodies the following qualities: visionary
                    leadership, dedication, and unwavering commitment to service. In selecting the award, BUSUN will employ
                    the following screening process:
                </p>
                <ol>
                    <li><p>All interested delegates will be asked to submit a resume and a personal statement responding to the following prompt:</p>
                        <blockquote class="blockquote">
                            In under 400 words, please describe the ways in which you think the issues of climate change and gender inequality intersect and what you think are viable solutions to these issues. 
                        </blockquote>
                        <p>This document is due by email to <a href="mailto:sg@busun.org">sg@busun.org</a> by <b>12:00 PM, November 11, 2017.</b></p></li>
                    <li><p>All short-listed candidates will be invited for a 15-minute interview with the Secretaries-General during the conference.
                        Candidates will be notified if they have been short-listed and will be asked to sign up for an interview slot.
                    </p></li>
                    <li><p>All Committee Chairs will be notified of the short-listed candidates, and will be asked to review their position
                        papers and their performance in committee.
                    </p></li>
                </ol>
                <p>
                    The winner of the award will be announced at the BUSUN closing ceremonies, and will receive
                    $500 to be donated to the 501(c)(3) charitable organization of the winner's choice.
                </p>
        </div>
    </body>
</html>