<!DOCTYPE html>
<html xmlns:wp="http://brownmun"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
    <head>
        <title>Preparation and Procedure</title>
        <wp:chunk name="public"/>
    </head>
    <body>
        <header layout:fragment="header">
            <h1>Preparation and Procedure</h1>
        </header>
        <div layout:fragment="body">
            <h2>Rules and Procedure</h2>

            <p>
                As the weekend of the conference draws near, it is important to do some solid background research on your
                assigned position before taking the stand! To be fair to all of the delegates participating in your
                committee, it is required of all delegates that they are familiar with their positions, and have a
                written position paper submitted to their chairs before the first committee session begins.
                Being well prepared and knowledgeable is just as important as your debate skills at a Model UN
                conference. Although you are not expected to show all of your research to your chair, it may be useful
                to write some information down and bring it with you for reference during the conference.
            </p>
            <p>
                The Rules & Procedures guide is <a href="https://storage.googleapis.com/busun_assets/rules.pdf">now available</a>!
            </p>

            <h2>Position Paper Guidelines</h2>

            <p>
                BUSUN expects that delegates prepare for the conference by submitting a short position paper to
                their committee chairs to demonstrate their preparatory research to the dias. To ensure high quality
                debate, we hope that all of our delegates will come to conference with familiarity with their topics
                and an understanding of their block positions!
            </p>
            <p>To help you craft a top-notch position paper, here are a few guidelines:</p>

            <h3>General Guidelines</h3>
            <ul>
                <li>
                    Position papers should be 2-3 pages in length, written in Times New Roman typeset at 12 point
                    size, double spaced, with 1 inch margins.
                </li>
                <li>
                    Please email your position papers to your committee email. If you are unsure of your committee
                    email address, please look at <a th:href="@{/conference/committees}">our committees page</a> and
                    click on the email hyperlink.
                </li>
                <li>
                    Position paper should be submitted in .DOC, .DOCX, or .PDF format. Files should be titled in
                    the following format: School_LastName_Position (e.g. "BrownHS_Smith_DISEC.pdf").
                </li>
                <li>
                    Citations and works referenced should be formatted in Chicago or MLA style. Please cite all
                    works you consult in your research. BUSUN takes plagiarism seriously - plagiarism may result in
                    disqualification of a delegation from our awards process, and your delegation may not be invited
                    to BUSUN in the future.
                </li>
                <li>
                    Position papers should contain: a summary of your position's past actions; the current
                    policies of your position; potential solutions; and potential collaborators with whom your
                    position would be interested in working with.
                </li>
                <li>
                    Please write on all the topics assigned to your committee - this may not hold for all
                    specialized or crisis committees, consult your background guide for more information.
                </li>
            </ul>

            <h3>Tips & Tricks</h3>
            <ul>
                <li>
                    Read the background guide thoroughly and make sure you have a firm grasp of the topics and/or questions to consider.
                    These are going to be the issues upon which your discussions in committee will be centered.
                </li>
                <li>
                    Check out some of the links, books, and articles that your chair used for the background guide. They likely have
                    more information on the committee and topic(s) that is not included in background guide.
                </li>
                <li>
                    For historical committees, doing a Google Books search of your position could uncover helpful sources. If possible, visit
                    your local or school library to find additional sources.
                </li>
                <li>
                    It could be helpful to ask the librarian if you have access to online databases, such as JSTOR or EBSCOHost, in order to access
                    articles published in academic journals. That being said, research to this degree may not be necessary.
                </li>
                <li>If there is a particular article in the background guide you are interested in that you can't get access to please email
                    your chair. They might be able to help.
                </li>
                <li>
                    If possible, spend some time researching other positions in your committee (or in connected committees, in the case of joint
                    crisis committees). This may allow you to take the initiative in forming an alliance with another delegate, because you already
                    know how your views align and how you may be able to help each other.
                </li>
                <li>
                    Although there may be a wealth of information on the topic available to you, focus on explaining the ideas and solutions you will
                    bring to the issues at hand. Your chairs are primarily interested in the innovative ways in which you will be approaching committee.
                </li>
                <li>
                    Contact your chair with any questions! They have been preparing all year for this conference and are knowledgeable about
                    their topics. While emailing them is not a substitute for doing your research, they should be able to answer questions
                    that may arise while you prepare for the conference. Their contact information can be found on the
                    <a th:href="@{/conference/committees}">Committees</a> page of the BUSUN website.
                </li>
            </ul>
        </div>
    </body>
</html>