<!DOCTYPE html>
<html xmlns:wp="http://brownmun"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Fees and Deadlines</title>
    <wp:chunk name="public"/>
</head>
<body>
<header layout:fragment="header">
    <h1>Fees, Deadlines &amp; Application Information</h1>
</header>
<div layout:fragment="body">
    <h2>General Registration Policies</h2>
    <p>
        Applications are recorded on a first-come, first-served basis as determined by the timestamp of
        your online registration. Registering early will
        aid your application but does not guarantee admission. We will maintain a waitlist as in prior years
        if any additional spots open up.
    </p>
    <p>
        If you are looking to register as an individual and are not affiliated with an
        established Model UN club at your university, please email
        <a href="mailto:info@browncrisis.org">info@browncrisis.org</a> for additional information.
    </p>

    <h2>Conference Fees and Payment</h2>
    <p>
        Fees are split up into two portions: a school fee, paid once, and a delegate fee paid for each delegate
        registered.
    </p>
    <p>
        The school fee must be postmarked by the indicated deadlines in order for your registration to be
        complete. Schools that do not pay the school fee by the Regular Payment deadline may forfeit their
        space at BUCS. Schools on the waitlist are not required to pay the school fee until they are offered
        a spot at the conference.
    </p>

	<p>
	    The regular payment deadline is December 1, 2018 and the late deadline is January 31, 2019.
	</p>

    <table class="table">
        <thead>
        <tr>
            <th>Fee</th>
            <th>Early Payment</th>
            <th>Regular Payment</th>
            <th>Late Payment</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>School Fee</th>
            <td>$60</td>
            <td>$80</td>
            <td>$100</td>
        </tr>
        <tr>
            <th>Delegate Fee <small>(paid per delegate)</small></th>
            <td>$60</td>
            <td>$70</td>
            <td>$80</td>
        </tr>
        </tbody>
    </table>

    <p>
        Payment will only be accepted in the form cash and checks. We cannot process credit cards.
        Please make all checks out to <b>Brown University Model UN</b>. Payments may be mailed to us at:
    </p>
    <address>
        <span class="pl-3"><strong>Brown University Model UN</strong></span><br />
        <span class="pl-3">Box 1930</span><br />
        <span class="pl-3">69 Brown St.</span><br />
        <span class="pl-3">Providence, RI 02912</span>
    </address>

    <h4>Questions?</h4>
    <p>
        All queries regarding the registration process should be forwarded to our Director of Outreach at
        <a href="mailto:info@browncrisis.org">info@browncrisis.org</a>.
    </p>
</div>
</body>
</html>
