<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:wp="http://brownmun.org/th/webpack"
        xmlns:conference="http://brownmun.org/th/conference"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base.html}"
>
    <head>
        <title>Application</title>
        <wp:chunk name="info-page"/>
    </head>

    <body>
        <main layout:fragment="content" class="registration-application">
            <img class="title-photo" src="https://storage.googleapis.com/busun_assets/title-images/application.jpg" alt="The Application Process">

            <section class="info--body">
                <h2>Application Process</h2>

                <p class="body-text">
                    Register for BUSUN XXII <a th:href="@{/registration/register}">here</a>.
                </p>

                <p class="body-text">
                    Due to overwhelming interest each year for BUSUN, registration is no longer managed on a first-come,
                    first-serve basis. We instead request that interested high schools submit an application.This
                    application will be posted on our website in early April and will be open for two weeks. Applying
                    early will aid your application but does not guarantee admission. The application consists of
                    questions related to your school’s Model UN program and your particular interest in BUSUN. We look
                    forward to reading your responses. Decisions for acceptance to BUSUN XXII will be released by the
                    end of April 2018. All delegations accepted will be required to confirm their attendance by mid-May
                    2018, specific date to be announced. Please email <a href="mailto:info@busun.org">info@busun.org</a>
                    with any questions or concerns about the application process.
                </p>

                <h2>Waitlist Policy</h2>

                <p class="body-text">
                    Delegations that are not initially accepted will have the option to be added to our waitlist. Once
                    all accepted schools confirm their attendance, we will begin to offer available spots to schools who
                    have accepted a place on our waitlist. The order of waitlist acceptances will consider timeliness of
                    waitlist confirmation, quality of application, and past participation.
                </p>
            </section>

        </main>
    </body>
</html>