[Unit]
Description=PostgreSQL database
Documentation=https://hub.docker.com/_/postgres
After=docker.service
Requires=docker.service

[Service]
User=postgres
EnvironmentFile=/etc/postgres/environment
ExecStartPre=-/usr/bin/docker stop postgres
ExecStartPre=-/usr/bin/docker rm postgres
ExecStartPre=/usr/bin/docker pull postgres:${POSTGRES_VERSION}
ExecStart=/usr/bin/docker run --name postgres \
    -v /etc/postgres/init.sh:/docker-entrypoint-initdb.d/init.sh \
    -v /var/lib/postgresql/data:/var/lib/postgresql/data \
    -e POSTGRES_PASSWORD="${POSTGRES_PASSWORD}" \
    --network mun-net \
    postgres:${POSTGRES_VERSION}

[Install]
WantedBy=multi-user.target