<!DOCTYPE HTML>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:wp="http://brownmun"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">
    <!--/*@thymesVar id="schoolInfo" type="org.brownmun.model.delegation.SchoolInfo"*/-->
    <head>
        <title>Editing School Info</title>
        <wp:chunk name="index"/>
        <wp:chunk name="yourbusun"/>
    </head>
    <body>
        <header layout:fragment="header">
            <h1>Editing School Info</h1>
        </header>
        <div layout:fragment="body">
            <form th:action="@{/yourbusun/edit-info}" method="post" th:object="${schoolInfo}">
                <h3>School Information</h3>
                <div class="form-group" th:classappend="${#fields.hasErrors('phoneNumber')}? 'has-danger'">
                    <label for="phoneNumber">Phone Number</label>
                    <input id="phoneNumber" type="tel" class="form-control" th:field="*{phoneNumber}">
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('phoneNumber')}" th:text="${#fields.errors('phoneNumber')}"></p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('address.streetAddress')}? 'has-danger'">
                    <label for="address.streetAddress">Street Address</label>
                    <input id="address.streetAddress" type="text" class="form-control" th:field="*{address.streetAddress}">
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('address.streetAddress')}" th:text="${#fields.errors('address.streetAddress')}"></p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('address.city')}? 'has-danger'">
                    <label for="address.city">City</label>
                    <input id="address.city" type="text" class="form-control" th:field="*{address.city}">
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('address.city')}" th:text="${#fields.errors('address.city')}"></p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('address.state')}? 'has-danger'">
                    <label for="address.state">State</label>
                    <input id="address.state" type="text" class="form-control" th:field="*{address.state}">
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('address.state')}" th:text="${#fields.errors('address.state')}"></p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('address.postalCode')}? 'has-danger'">
                    <label for="address.postalCode">Postal Code</label>
                    <input id="address.postalCode" type="text" class="form-control" th:field="*{address.postalCode}">
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('address.postalCode')}" th:text="${#fields.errors('address.postalCode')}"></p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('address.country')}? 'has-danger'">
                    <label for="address.country">Country</label>
                    <input id="address.country" type="text" class="form-control" th:field="*{address.country}">
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('address.country')}" th:text="${#fields.errors('address.country')}"></p>
                </div>

                <h3>Hotels</h3>

                <div class="form-group" th:classappend="${#fields.hasErrors('hotel')}? 'has-danger'">
                    <label for="hotel">Hotel</label>
                    <select id="hotel" class="form-control" th:field="*{hotel}">
                        <option value="">Not using a BUSUN hotel</option>
                        <!--/*@thymesVar id="hotels" type="java.lang.Iterable<org.brownmun.model.Hotel>"*/-->
                        <option
                            th:each="hotel : ${hotels}"
                            th:value="${hotel.id}"
                            th:text="${hotel.name}"
                            th:selected="${hotel.id == schoolInfo.hotel.id}"
                        ></option>
                    </select>
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('hotel')}" th:text="${#fields.errors('hotel')}"></p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('otherHotel')}? 'has-danger'">
                    <label for="otherHotel">Non-BUSUN Hotel</label>
                    <input id="otherHotel" type="text" class="form-control" th:field="*{otherHotel}">
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('otherHotel')}" th:text="${#fields.errors('otherHotel')}"></p>
                </div>

                <h3>Shuttles and Transportation</h3>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" th:field="*{usingShuttle}">
                        We will be using BUSUN shuttles
                    </label>
                </div>

                <fieldset class="form-group shuttle-service">
                    <p class="form-text text-muted">Days we will be using the shuttles</p>
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" th:field="*{shuttleService.fridayAfternoon}">
                        Friday Afternoon
                    </label>
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" th:field="*{shuttleService.fridayNight}">
                        Friday Night
                    </label>
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" th:field="*{shuttleService.saturday}">
                        Saturday
                    </label>
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" th:field="*{shuttleService.sunday}">
                        Sunday
                    </label>
                </fieldset>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" th:field="*{commuting}">
                        We will be commuting
                    </label>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('carCount')}? 'has-danger'">
                    <label for="carCount">Number of cars a parking pass is needed for</label>
                    <input id="carCount" type="number" class="form-control" th:field="*{carCount}">
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('carCount')}" th:text="${#fields.errors('carCount')}"></p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('carDays')}? 'has-danger'">
                    <label for="carDays">Number of days a car parking pass is needed for</label>
                    <input id="carDays" type="number" class="form-control" th:field="*{carDays}">
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('carDays')}" th:text="${#fields.errors('carDays')}"></p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('busCount')}? 'has-danger'">
                    <label for="busCount">Number of buses a parking pass is needed for</label>
                    <input id="busCount" type="number" class="form-control" th:field="*{busCount}">
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('busCount')}" th:text="${#fields.errors('busCount')}"></p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('busDays')}? 'has-danger'">
                    <label for="busDays">Number of days a bus parking pass is needed for</label>
                    <input id="busDays" type="number" class="form-control" th:field="*{busDays}">
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('busDays')}" th:text="${#fields.errors('busDays')}"></p>
                </div>

                <h3>Logistics</h3>

                <div class="form-group" th:classappend="${#fields.hasErrors('arrivalTime')}? 'has-danger'">
                    <label for="arrivalTime">Arrival Time</label>
                    <input id="arrivalTime" type="time" class="form-control" th:field="*{arrivalTime}">
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('arrivalTime')}" th:text="${#fields.errors('arrivalTime')}"></p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('luggageStorage')}? 'has-danger'">
                    <label for="luggageStorage">Luggage Storage</label>
                    <p class="form-text text-muted">Special luggage storage on Friday and Sunday</p>
                    <select name="" id="luggageStorage" class="form-control" th:field="*{luggageStorage}">
                        <option
                            th:each="storage : ${T(org.brownmun.model.delegation.LuggageStorage).values()}"
                            th:value="${storage.name()}"
                            th:text="${storage}"
                        ></option>
                    </select>
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('luggageStorage')}" th:text="${#fields.errors('luggageStorage')}"></p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('bandColor')}? 'has-danger'">
                    <label for="bandColor">Delegate Social Band Color</label>
                    <p class="form-text text-muted">
                        A red wristband indicates that delegates can leave the event only with an advisor.
                        A yellow wristband indicates that delegates may leave the event accompanied by a staff member.
                    </p>
                    <select name="" id="bandColor" class="form-control" th:field="*{bandColor}">
                        <option
                            th:each="storage : ${T(org.brownmun.model.delegation.BandColor).values()}"
                            th:value="${storage.name()}"
                            th:text="${storage}"
                        ></option>
                    </select>
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('bandColor')}" th:text="${#fields.errors('bandColor')}"></p>
                </div>

                <h3>Delegation</h3>

                <div class="form-group" th:classappend="${#fields.hasErrors('requestedDelegates')}? 'has-danger'">
                    <label for="requestedDelegates">Number of Delegates</label>
                    <input id="requestedDelegates" type="number" class="form-control" th:field="*{requestedDelegates}">
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('requestedDelegates')}" th:text="${#fields.errors('requestedDelegates')}"></p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('requestedChaperones')}? 'has-danger'">
                    <label for="requestedChaperones">Number of Chaperones</label>
                    <input id="requestedChaperones" type="number" class="form-control" th:field="*{requestedChaperones}">
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('requestedChaperones')}" th:text="${#fields.errors('requestedChaperones')}"></p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('chaperoneInfo')}? 'has-danger'">
                    <label for="chaperoneInfo">Chaperones</label>
                    <p class="form-text text-muted">Please list the names and cell phone numbers of all advisors and chaperones</p>
                    <input id="chaperoneInfo" type="text" class="form-control" th:field="*{chaperoneInfo}">
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('chaperoneInfo')}" th:text="${#fields.errors('chaperoneInfo')}"></p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('parliTrainingCount')}? 'has-danger'">
                    <label for="parliTrainingCount">Parliamentary Procedure Training Attendance</label>
                    <p class="form-text text-muted">Number of delegates planning to attend a parliamentary procedure training session on Friday</p>
                    <input id="parliTrainingCount" type="number" class="form-control" th:field="*{parliTrainingCount}">
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('parliTrainingCount')}" th:text="${#fields.errors('parliTrainingCount')}"></p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('crisisTrainingCount')}? 'has-danger'">
                    <label for="crisisTrainingCount">Crisis Training Attendance</label>
                    <p class="form-text text-muted">Number of delegates planning to attend a crisis committee procedure training session on Friday</p>
                    <input id="crisisTrainingCount" type="number" class="form-control" th:field="*{crisisTrainingCount}">
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('crisisTrainingCount')}" th:text="${#fields.errors('crisisTrainingCount')}"></p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('tourCount')}? 'has-danger'">
                    <label for="tourCount">Tour Attendance</label>
                    <p class="form-text text-muted">Number of delegates planning to attend a campus tour on Friday</p>
                    <input id="tourCount" type="number" class="form-control" th:field="*{tourCount}">
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('tourCount')}" th:text="${#fields.errors('tourCount')}"></p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('infoSessionCount')}? 'has-danger'">
                    <label for="infoSessionCount">Information Session Attendance</label>
                    <p class="form-text text-muted">Number of delegates planning to attend a Brown information session on Friday</p>
                    <input id="infoSessionCount" type="number" class="form-control" th:field="*{infoSessionCount}">
                    <p class="form-control-feedback" th:if="${#fields.hasErrors('infoSessionCount')}" th:text="${#fields.errors('infoSessionCount')}"></p>
                </div>

                <input type="submit" class="btn btn-primary" value="Save">
            </form>
        </div>
    </body>
</html>