<!DOCTYPE html>
<html xmlns:wp="http://brownmun"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
    <head>
        <title>Keynote Speaker</title>
        <wp:chunk name="public"/>
    </head>
    <body>
        <header layout:fragment="header">
            <h1>Keynote Speaker</h1>
        </header>
        <div layout:fragment="body">
            <p>
                The keynote speaker for BUSUN XXI will be Atyia Martin, Boston's Chief Resiliency Officer.
            </p>
            <blockquote class="blockquote speaker-bio">
                <p>
                    Dr. Atyia Martin is a Certified Emergency Manager with a diverse set of experiences in public health, emergency management, intelligence, and homeland security. Mayor Martin J. Walsh appointed her as the Chief Resilience Officer for the City of Boston as part of the 100 Resilient Cities initiative pioneered by the Rockefeller Foundation. In this role, she is responsible for leading the development and implementation of Boston’s Resilience Strategy. Boston will focus on advancing racial equity as the foundation of the Resilience Strategy process to increase our shared ability to thrive after emergencies.
                </p>
                <p class="mb-0">
                    Dr. Martin was previously the Director of the Office of Public Health Preparedness at the Boston Public Health Commission. Her previous professional experience includes the Boston Police Department’s Boston Regional Intelligence Center; City of Boston’s Mayor’s Office of Emergency Management; the Federal Bureau of Investigations (FBI); and active duty Air Force assigned to the National Security Agency. Dr. Martin has also been adjunct faculty in the Master of Homeland Security at Northeastern University. Dr. Martin and her husband were born and raised in Boston where they currently live. They have five children.
                </p>
                <footer class="blockquote-footer">
                    From the <cite source="City of Boston"><a href="https://www.boston.gov/departments/resilience-and-racial-equity/atyia-martin">City of Boston</a></cite>
                </footer>
            </blockquote>
        </div>
    </body>
</html>