<!DOCTYPE html>
<html xmlns:wp="http://brownmun"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
    <head>
        <title>BUCS</title>
        <wp:chunk name="public" />
    </head>
    <body>
        <header layout:fragment="header">
            <h1>The Brown University Crisis Simulation</h1>
        </header>
        <div layout:fragment="body">
            <img src="https://storage.googleapis.com/bucs_assets/gavel.jpg" alt="BUCS 2018" class="bucs-cover">
            
            <article class="sec-letter">
                <p>Dear Delegates,</p>

                <p>
                    On behalf of the Brown Model United Nations programme, we are honored to invite you to the Seventh
                    Annual Session of the Brown University Crisis Simulation (BUCS), which will be held on the Brown
                    University campus from March 1-3, 2019.
                </p>

                <p>
                    The Brown University Crisis Simulation is built on a platform of collaboration and innovation, and
                    though we are a relatively young conference, we believe our youth allows us the flexibility to provide
                    a truly comprehensive experience for delegates of all levels of experience.
                </p>

                <p>
                    The BUCS committee topics are specifically chosen each year to challenge delegates to solve issues
                    demanding unconventional and innovative solutions that can only be reached through an acute
                    understanding of international geopolitics and history. In an effort to provide a more comprehensive
                    experience this year, BUCS will be expanding to include specialized committees, in addition to the
                    crisis committees we have organized in the past. This year’s committees range from trade concerns in
                    pre-partition India to the 2019 meeting of the Arctic Council. We remain confident that this year’s
                    delegates, like those who have attended BUCS in the past, will create extraordinary solutions to make an
                    impact on these extraordinary issues and circumstances.
                </p>

                <p>
                    On behalf of the Secretariat and the entire BUCS staff, we hope that you will be able to join us next
                    March. Please contact our Director of Outreach at info@browncrisis.org if you have any questions. We
                    look forward to welcoming you to BUCS 2019!
                </p>

                <section class="signoff">
                    <p>Best,</p>
                    <p>Caroline Deitch and Shane Niesen</p>
                    <p class="text-muted text-small">Secretaries-General, BUCS VIII</p>
                </section>
            </article>
        </div>
    </body>
</html>
