<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:wp="http://brownmun.org/th/webpack"
        xmlns:conference="http://brownmun.org/th/conference"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base.html}"
>
    <head>
        <title>Advisor Dashboard</title>

        <wp:chunk name="advisorDashboard"/>
    </head>

    <body>
        <main layout:fragment="content" class="advisor-dashboard">
        </main>
    </body>
</html>