<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:wp="http://brownmun.org/th/webpack"
        xmlns:conference="http://brownmun.org/th/conference"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base.html}"
>
    <head>
        <title>Advisor Login</title>

        <style>
            .reset-password {
                padding: 20px 20vw;
            }
        </style>
    </head>

    <body>
        <main layout:fragment="content" class="reset-password">

            <h1>Reset Password</h1>

            <!--/*@thymesVar id="form" type="org.brownmun.web.advisors.PasswordResetForm"*/-->
            <form th:action="@{/your-mun/password/reset}" class="form" method="post" th:object="${form}">
                <p class="alert alert-error"
                   th:if="${#fields.hasGlobalErrors()}"
                   th:utext="${#strings.listJoin(#fields.globalErrors(), '<br/>')}">
                </p>

                <fieldset>
                    <label for="password">New Password</label>
                    <input type="password" id="password" th:field="*{password}">
                    <p th:errors="*{password}">Validation errors</p>
                </fieldset>

                <fieldset>
                    <label for="passwordConfirm">Confirm Password</label>
                    <input type="password" id="passwordConfirm" th:field="*{passwordConfirm}">
                    <p th:errors="*{passwordConfirm}">Validation errors</p>
                </fieldset>

                <input type="hidden" th:field="*{token}">
                <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}">

                <button class="button" type="submit">Reset</button>
            </form>
        </main>
    </body>
</html>