<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:wp="http://brownmun.org/th/webpack"
        xmlns:conference="http://brownmun.org/th/conference"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base.html}"
>
    <head>
        <title>The Erinn Phelan Award</title>
        <wp:chunk name="info-page"/>
    </head>

    <body>
        <main layout:fragment="content">
            <img class="title-photo" src="https://storage.googleapis.com/busun_assets/title-images/erinn-phelan-award.jpg" alt="The Erinn Phelan Award">

            <section class="info--body">
                <p class="body-text">
                    The Erinn Phelan Award, instituted in 2011, is granted to the delegate at BUSUN who demonstrates
                    the greatest commitment to the empowerment of women.
                </p>

                <p class="body-text">
                    This very special award is given in honor of Erinn Phelan, a former BUSUN Secretary-General.
                    Erinn was working as a coordinator in Mayor Bloomberg’s NYC Civic Corps when she was the victim of
                    a hit-and-run accident. She was at that time accompanied by her close friend, Alma Guerrero, who is
                    also a former BUSUN Secretary-General.
                </p>

                <p>
                    BUSUN would like to honor these women and hopes that the award will serve to motivate all delegates
                    to deepen their awareness of and commitment to women's empowerment.
                </p>

                <p>
                    The Erinn Phelan Award is presented to the delegate that best embodies the following qualities:
                    visionary leadership, dedication, and unwavering commitment to service. Award selection will be
                    based on the following criteria:
                </p>

                <ol>
                    <li>All interested delegates will be asked to submit a resume.</li>
                    <li>
                        Applicants will also be asked to submit a short response to a specific prompt that will be
                        released in advance of conference weekend.
                    </li>
                </ol>

                <p>Both of these documents will be submitted to <a href="mailto:sg@busun.org">sg@busun.org</a>.</p>

                <ol start="3">
                    Applicants reaching the next round will be offered a 15-minute interview with the
                    Secretaries-General during BUSUN weekend. The Secretaries-General will also consult with committee
                    chairs to review candidates&apos; position papers and performance in committee.
                </ol>

                <p>
                    The winner of this award will be announced at closing ceremonies and will receive $500 to be donated
                    to the 501(c)(3) charitable organization of their choice.
                </p>
            </section>

        </main>
    </body>
</html>