<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:wp="http://brownmun.org/th/webpack"
    xmlns:conference="http://brownmun.org/th/conference" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base.html}">

<head>
    <title>The Erinn Phelan Award</title>
    <wp:chunk name="info-page" />
</head>

<body>
    <main layout:fragment="content">
        <img class="title-photo" src="https://storage.googleapis.com/busun_assets/title-images/erinn-phelan-award.jpg"
            alt="The Erinn Phelan Award">

        <section class="info--body">
            <p class="body-text">
                The Erinn Phelan Award, instituted in 2011, is granted to the delegate at BUSUN who demonstrates
                the greatest commitment to the empowerment of women.
            </p>

            <p class="body-text">
                This very special award is given in honor of Erinn Phelan, a former BUSUN Secretary-General.
                Erinn was working as a coordinator in Mayor Bloomberg’s NYC Civic Corps when she was the victim of
                a hit-and-run accident. She was at that time accompanied by her close friend, Alma Guerrero, who is
                also a former BUSUN Secretary-General.
            </p>

            <p>
                BUSUN would like to honor these women and hopes that the award will serve to motivate all delegates
                to deepen their awareness of and commitment to women's empowerment.
            </p>

            <p>
                The Erinn Phelan Award is presented to the delegate that best embodies the following qualities:
                visionary leadership, dedication, and unwavering commitment to service. Award selection will be
                based on the following criteria:
            </p>

            <ol>
                <li>All interested delegates must submit a current resume.</li>
                <li>
                    <p>Applicants must also submit a short response to the prompt below.</p>

                    <!-- <p>Prompt coming soon!</p> -->

                    <p>
                        Women make up more than half the world's population, and yet are severely under-represented in
                        the political and societal institutions that determine policy that directly affects their
                        interests. Although women have slowly increased representation and leadership roles in these
                        organizations, there is still more work that needs to be done in this regard. Balancing the core
                        themes of institutions and individuals, discuss and propose potential solutions that each of
                        these interest groups can take in order to ensure greater representation and decision-making
                        power for women across the globe.
                    </p>
                </li>
            </ol>

            <!-- <p>Both of these documents <strong>must</strong> be submitted to <a
                    href="mailto:sg@busun.org">sg@busun.org</a> by
                <strong>(EXTENDED) Saturday, November 7th at 7:00 PM.</strong></p> -->

            <p>
                Applicants reaching the next round will be offered a 15-minute interview with the
                Secretaries-General during BUSUN weekend. The Secretaries-General will also consult with committee
                chairs to review candidates&apos; position papers and performance in committee.
            </p>

            <p>
                The winner of this award will be announced at closing ceremonies and will receive $500 to be donated
                to the 501(c)(3) charitable organization of their choice.
            </p>


            <h2>UPDATE</h2>

            <p>Firstly, thank you to everyone who submitted an application for the Erinn Phelan award! We were
                thoroughly
                impressed with all of your papers and have no doubt that you will move forward to create big changes in
                your
                communities.</p>

            <p>This year, we selected four finalists who demonstrated an eloquent ability to express their thoughts on
                female empowerment. You all showed a long-term commitment to the ideas you presented, and we are so
                excited
                to see your future work. We would like to take time to recognize these individuals. In order of last
                name,
                this year’s finalists were:</p>

            <ul>
                <li>Alexis Ahn from Fayetteville-Manlius High School</li>
                <li>Aananadita Chowdhury from the Bronx High School of Science</li>
                <li>Maya Dunayer from Stuyvesant High School</li>
                <li>Simon Rosenbaum from Vermont Commons</li>
            </ul>

            <p>With that being said, please refer to the video below for some words from Alma, Erinn’s best friend,
                and Mary Phelan, Erinn’s mother. They will announce this year’s winner at the end of the video.</p>


            <p>
                Please download this video (<a href="https://storage.googleapis.com/busun_assets/phelan_award.m4v">click
                    here</a>) for the
                announcement of the winner
                of the Erinn Phelan Award for BUSUN XXIV.
            </p>
        </section>

    </main>
</body>

</html>