<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:wp="http://brownmun.org/th/webpack"
        xmlns:conference="http://brownmun.org/th/conference"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base.html}"
>
    <head>
        <title>Keynote Speaker</title>
        <wp:chunk name="info-page"/>
    </head>

    <body>
        <main layout:fragment="content">
		    <section class="info--body">
		        <h1>Keynote Speaker</h1>

			    <p class="body-text">The keynote speaker for BUSUN XXII will be Adam Levine, MD, MPH</p>

			    <p class="body-text">
			        Dr. Adam Levine is an Associate Professor of Emergency Medicine and Director of the Division of
					Global Emergency Medicine at the Warren Alpert Medical School of Brown University. He received his
					Medical Doctorate from the University of California, San Francisco and his Masters of Public Health
					from the University of California, Berkeley before completing his specialty training in Emergency
					Medicine at the Harvard Affiliated Emergency Medicine Residency in Boston.
			    </p>

			    <p class="body-text">
			        In recent years, Dr. Levine has responded to humanitarian emergencies in Haiti, Libya, South Sudan,
					and Liberia and has led research and training initiatives in South Asia, East Africa, and West Africa.
					He currently serves as the Director for the Humanitarian Innovation Initiative at Brown University, whose
					goals are to improve the quality and professionalize the delivery of humanitarian assistance worldwide,
					and as the Primary Investigator for the Global Emergency Response and Recovery Project for International
					Medical Corps, focused on improving international and local capacity for responding to future epidemics
					and pandemics. He also serves as Editor-in-chief for Academic Emergency Medicine's annual Global Emergency
					Medicine Literature Review. His own NIH and foundation-funded research focuses on improving the delivery of
					emergency care in resource-limited settings and during humanitarian emergencies.
			    </p>

			    <p class="body-text">
				    Dr. Levine will be giving a talk titled "Saving Aid: The future of global health and humanitarian response."
				</p>
			</section>
        </main>
    </body>
</html>
