<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:wp="http://brownmun.org/th/webpack"
    xmlns:conference="http://brownmun.org/th/conference" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base.html}">

<head>
    <title>Preparation and Procedure</title>
    <wp:chunk name="info-page" />
</head>

<body>
    <main layout:fragment="content">
        <img class="title-photo"
            src="https://storage.googleapis.com/busun_assets/title-images/preparation-procedure.jpg"
            alt="Preparation and Procedure">

        <section class="info--body" style="color: black;">
            <h1>Crisis Committees</h1>

            <p class="body-text">
                BUSUN recognizes that being well-prepared and knowledgeable is just as important as debate skills
                in a Model UN conference. Although delegates are not expected to show all of their research to their
                committee chairs, we suggest that delegates print and annotate some research materials for reference
                during committee sessions.
            </p>
            <p class="body-text">
                Please note that a full list of Rules and Procedure for GA and Specialized Committees can be found in
                the Delegate Guide under the <i>Conference Resources</i> tab. Below you will find position paper
                guidelines and research tips that are specific for GA and Specialized Committees
            </p>

            <h2 class="info--body">Position Paper Guidelines</h2>

            <p class="body-text">
                All delegates are required to submit a position paper to their committee chairs in advance of the
                first committee session. We hope that all delegates will familiarize themselves with the topics and
                positions outlined by their committee chairs before arriving to campus.
            </p>

            <h2 class="info--body">General Guidelines for Position Papers</h2>

            <ul>
                <li>
                    Position papers should be 1-2 pages in length per topic, written in size 12 Times New Roman font
                    with 1 inch margins.
                </li>

                <li>
                    <strong>All delegates should email their positions papers to the committee chair email listed in
                        their background guide by November 1, 2019 at 11:59 PM.</strong> Delegates are still eligible
                    for
                    awards as long as they submit their position paper by the beginning of the first committee session
                    on Friday, November 8 but they will not be guaranteed feedback from their chair. Chair email
                    addresses
                    can be found at <a th:href="@{/committees}">our committees page</a> or in your background guide.
                </li>

                <li>
                    Position papers should be submitted in <code>.DOC</code>, <code>.DOCX</code>, or
                    <code>.PDF</code> format. Files should be titled in the following format:
                    <code>School_LastName_Position</code> (e.g. "BrownHS_Smith_President Washington.pdf").
                </li>

                <li>
                    Citations and works referenced should be clearly listed at the end of all position papers. We
                    prefer that these references be formatted in Chicago or MLA style. BUSUN takes plagiarism
                    seriously &mdash; plagiarized content may result in delegate disqualification from awards, or in
                    serious cases, entire delegations may not be invited in future years.
                </li>
                <li>Position papers should actively apply information provided in the background guide to explain your
                    political agenda as well as the way in which you plan to carry them out. The best position papers
                    will also make extensive use of external research. You should treat them as private papers, which
                    means that you should not hesitate to include plans and information that you intend to keep secret
                    to other delegates.
                </li>
                <li>
                    You are encouraged to write creative position papers, where the character of your position can shine
                    through. Here is a suggested outline for how to write a crisis position paper for your committee.
                    Please note that position papers will not be penalized for not following this framework:
                    <ul>
                        <li>Character background and formative experiences of political development (1 paragraph)</li>
                        <li>Political positions on the topics which you think will be most important in crisis (1-2
                            paragraphs)</li>
                        <li>Actions that you will take during the conference (1-2 paragraphs). Be sure to include:
                            <ul>
                                <li>What initial actions you might take during the first committee sessions to build up
                                    your resources and gain reputation or political power</li>
                                <li>How you might use your connections (political party, constituents, civic
                                    organizations, contacts abroad, etc.) to advance your agenda</li>
                                <li>Who within the committee you might want to work with, and who you might want to
                                    subvert or challenge</li>
                            </ul>
                        </li>
                        <li>Conclusion (1 paragraph)</li>

                    </ul>
                </li>

            </ul>

            <h2 class="info--body">Public Speaking in Committee</h2>
            <p class="body-text">

                In committee, building support among your fellow delegates and clearly articulating your stances and
                arguments will be essential. While your individual portfolio powers will certainly aid you in pursuing
                your character’s goals, practice speaking in a public setting will, like for any MUN committee, help you
                succeed. Unilateral action will only get you so far; the best delegates are the ones who can rally
                others in support of their causes. Additionally, in our committee vitriol and Ad Hominem attacks will
                not further your goals; only strong speeches with a good balance of content and rhetoric will.
            </p>

            <p class="body-text">
                <b>We recognize that some delegate’s characters are historically known for their outlandish and even
                    offensive comments, but this sort of behavior does not have a place at BUSUN.</b> While we expect
                delegates to do their best to honestly represent their character’s views, these views can and absolutely
                must be expressed in a respectful and inclusive way.

            </p>

            <h2 class="info--body">Crisis Notes</h2>
            <p class="body-text">
                BUSUN Crisis committees will have a fully functioning backroom, such that delegates will have the
                opportunity to portray their character not only through speaking and voting in committee, but also
                through notes to the backroom in which they will use their character’s individual portfolio powers to
                affect change in the outside world. A good crisis note has the following attributes:
            </p>
            <ol>
                <li>It is within the scope of your character’s powers. While some notes, like those simply
                    inquiring into how much funding you may have at your disposal, could come from any character,
                    others, like authorizing a new local ordinance, can only come from those who have those specific
                    powers.</li>
                <li>It is clearly in the service of the goal of the committee, or some clear goal for your
                    character.</li>
                <li>It is as specific as possible. It will be extremely difficult for your crisis staffers and
                    your crisis manager if your notes are vague in their means or ends. A note saying, “boost the
                    economy”, for example, without any sort of implementation proposed, will likely be met with a
                    reply asking for specificity. Please be creative and specific.</li>
                <li>It is written “by” your character and is addressed to some specific real or fictional person.
                    Don’t just say “dear crisis” and sign your own name at the bottom; If you are asking about your
                    finances, write a note to “Janice from Accounting” or some other name, and make sure you’re
                    writing from the perspective of your own character.

                </li>
            </ol>

            <p class="body-text">
                While notes that don’t have all these attributes may well be entertained and responded too, they
                certainly will not help you as much as clear, specific, realistic, and in-character crisis notes will.
            </p>



            <h2 class="info--body">What will in-room committee look like?</h2>

            <h3>Crisis Notebooks</h3>
            <p class="body-text">
                Most BUSUN committees will operate by a two-notepad system, in which each delegate will receive two
                notepads to write crisis notes. Backroom staffers will periodically come to the committee to pick up any
                outgoing crisis notes in notepads from the dais, as well as to return any notepads with responses from
                the backroom. Please only send one note at a time; the second notepad is so that you may write another
                crisis note as one is being responded to. Please also write your character’s name on the front page of
                both notepads. Leave room at the bottom of the page for the backroom’s reply, and please keep all the
                sheets in the notepad so that it’s easy for staffers to track the progress of your notes throughout
                committee sessions.
            </p>

            <p class="body-text">
                NOTE: While the backroom staff will work as quickly as they can to give meaningful responses to all
                your crisis notes, recognize that the more notes sent, the slower response will be. Please only write
                essential and clear notes to expedite the process of reply, and please be understanding of any delays.

            </p>


            <h3>Debate</h3>
            <p class="body-text">
                Like most crisis committees, your BUSUN Crisis committee will not have a Speaker’s List; rather the
                debate will largely operate in some form of a perpetual moderated caucus. However, there will be
                specific and unique aspects to the debate that will be made clear in the committee background section
                below.
            </p>

            <h3>Crisis Updates</h3>
            <p class="body-text">
                Crisis updates will be prioritized over the standard flow of debate, meaning that moderated caucuses may
                be suspended or put on hold in order to announce new updates to the ongoing crisis. We will do our best
                to make the actions taken by the committee in terms of passed directives, statements, and individual
                crisis notes have real impacts on the “outside world,” and will try to clearly demonstrate those
                positive or negative effects through our crisis updates. It will be important for you to remember that
                the actions you take, both in committee and through crisis notes, will have real tangible consequences.
                The core purpose of any crisis committee will be to solve the given crisis, and thus we will be
                monitoring to see who is actually actively doing so and who is stuck on less relevant issues.
            </p>

            <h3>Voting</h3>
            <p class="body-text">
                There will be two strata of documents produced by committee: personal directives (portfolio powers) and
                committee directives.
            </p>
            <p class="body-text">
                Personal directives (with certain rank-based exceptions) are specific abilities granted to individual
                delegates and are able to be submitted to the backroom at any time that the delegate holds the portfolio
                powers. These directives are private and are not required to be shared with others in committee, though
                if they are not carefully crafted, and are clear and precise in their directives and intentions. Your
                personal plans may be revealed or may not be able to be carried out. Crisis has final say on the outcome
                of any directives.
            </p>
            <p class="body-text">
                Committee directives are typically more powerful as committees tend to have greater capabilities than
                individuals in crisis resolution. The Chair will explain procedures at the beginning of the committee.
                Given that directives will need to be passed throughout committee sessions in order to address crises as
                they arise, motions to suspend the rules and enter voting procedure will entertained at the discretion
                of the chair at any time during the session.

            </p>



            <p class="body-text">
                Special thanks to Isaiah Paik, BUSUN XXIII Crisis Manager, for his assistance with these Crisis
                Guidelines
            </p>
        </section>

    </main>
</body>

</html>
