<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:wp="http://brownmun"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">
	<!--/*@thymesVar id="school" type="org.brownmun.model.School"*/-->
	<head>
		<title th:text="${school.name + ' - Delegates'}">School - Delegates</title>
		<wp:chunk name="admin"/>
	</head>
	<body>
		<header layout:fragment="header">
			<h1>Delegates for [[${school.name}]]</h1>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#" th:href="@{/admin}">Admin</a></li>
				<li class="breadcrumb-item"><a href="#" th:href="${#mvc.url('SC#list').build()}">Schools</a></li>
				<li class="breadcrumb-item"><a href="#" th:href="${#mvc.url('SC#profile').arg(0, school.id).build()}">[[${school.name}]]</a></li>
				<li class="breadcrumb-item active">Delegates</li>
			</ol>
		</header>

		<div layout:fragment="body">
			<table class="table">
				<thead>
					<tr>
						<th>Type</th>
						<th>Committee</th>
						<th>Position</th>
						<th>Delegate Name</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="delegate : ${school.assignedDelegates}">
						<td th:text="${delegate.position.committee.committeeType}">General</td>
						<td th:text="${delegate.position.committee.name}">UN Security Council</td>
						<td th:text="${delegate.position.name}">France</td>
						<td th:text="${delegate.name ?: ''}">Adam DeHovitz</td>
						<td>
							<form th:action="@{/admin/school/unassign-delegate}" method="post" class="form-inline">
								<input type="hidden" name="schoolId" th:value="${school.id}">
								<input type="hidden" name="delegateId" th:value="${delegate.id}">
								<input type="submit" class="btn btn-danger" value="Unassign">
							</form>
						</td>
					</tr>
				</tbody>
			</table>

			<p th:if="${school.unassignedDelegateCount > 0}">
				[[${school.unassignedDelegateCount}]] [[${school.unassignedDelegateCount == 1 ? 'spot' : 'spots'}]] remaining.
			</p>
		</div>
	</body>
</html>