<!DOCTYPE HTML>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:wp="http://brownmun"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">
	<head>
		<title>Schools</title>
		<wp:chunk name="index"/>
		<wp:chunk name="admin"/>
		<wp:chunk name="schoolAdmin"/>
	</head>
	<body>
		<header layout:fragment="header">
			<h1>Schools</h1>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#" th:href="@{/admin}">Admin</a></li>
				<li class="breadcrumb-item active">Schools</li>
			</ol>
		</header>
		<div layout:fragment="body">
			<h3>Statistics</h3>
			<table class="table">
				<thead>
					<tr>
						<th>School Applications</th>
						<th>Accepted Schools</th>
						<th>Registered Schools</th>
						<th>Waitlisted Schools</th>
						<th>Dropped Schools</th>
						<th>Denied Schools</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>[[${totalCount}]]</td>
						<td>[[${acceptedCount}]]</td>
						<td>[[${registeredCount}]]</td>
						<td>[[${waitlistedCount}]]</td>
						<td>[[${droppedCount}]]</td>
						<td>[[${deniedCount}]]</td>
					</tr>
				</tbody>
			</table>

			<table class="table">
				<thead>
					<tr>
						<th>Delegate Applications</th>
						<th>Accepted Delegates</th>
						<th>Registered Delegates</th>
						<th>Waitlisted Delegates</th>
						<th>Dropped Delegates</th>
						<th>Denied Delegates</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>[[${totalDelegateCount}]]</td>
						<td>[[${acceptedDelegateCount}]]</td>
						<td>[[${registeredDelegateCount}]]</td>
						<td>[[${waitlistedDelegateCount}]]</td>
						<td>[[${droppedDelegateCount}]]</td>
						<td>[[${deniedDelegateCount}]]</td>
					</tr>
				</tbody>
			</table>

			<h3>All Schools</h3>
			<div id="school-display"></div>
		</div>
	</body>
</html>