<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:wp="http://brownmun"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">
	<!--/*@thymesVar id="school" type="org.brownmun.model.School"*/-->
	<head>
		<title th:text="${school.name}">School</title>
		<wp:chunk name="admin"/>
	</head>
	<body>
		<header layout:fragment="header">
			<h1>[[${school.name}]]</h1>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#" th:href="@{/admin}">Admin</a></li>
				<li class="breadcrumb-item"><a href="#" th:href="${#mvc.url('SC#list').build()}">Schools</a></li>
				<li class="breadcrumb-item active">[[${school.name}]]</li>
			</ol>
		</header>

		<div layout:fragment="body">
			<ul class="nav">
				<li class="nav-item" th:if="${school.status == T(org.brownmun.model.RegistrationStatus).ACCEPTED}">
					<a href="#" class="nav-link" th:href="${#mvc.url('SC#delegates').arg(0, school.id).build()}">Manage Delegates</a>
				</li>
			</ul>

			<dl class="row">
				<dt class="col-sm-3">School ID</dt>
				<dd class="col-sm-9">[[${school.id}]]</dd>

				<dt class="col-sm-3">Registration Status</dt>
				<dd class="col-sm-9">[[${school.status}]]</dd>

				<dt class="col-sm-3">Requested Delegates</dt>
				<dd class="col-sm-9">[[${school.requestedDelegates}]]</dd>

				<dt class="col-sm-3">Requested Chaperones</dt>
				<dd class="col-sm-9">[[${school.requestedChaperones}]]</dd>

				<dt class="col-sm-3">Address</dt>
				<dd class="col-sm-9">[[${school.address}]]</dd>

				<dt class="col-sm-3">School Phone</dt>
				<dd class="col-sm-9">[[${school.phoneNumber}]]</dd>
			</dl>

			<h4>Logistics</h4>
			<ul class="list-unstyled">
				<li th:if="${school.logistics.usingHotel}">Using BUSUN hotel</li>
				<li th:unless="${school.logistics.usingHotel}">Not using BUSUN hotel</li>
				<li th:if="${school.logistics.usingShuttle}">Using shuttles</li>
				<li th:unless="${school.logistics.usingShuttle}">Not using shuttles</li>
			</ul>

			<form method="post" th:action="@{/admin/school/set-status}" class="form-inline">
				<input type="hidden" name="id" th:value="${school.id}">
				<select name="registrationStatus" class="form-control">
					<option
						th:each="status : ${T(org.brownmun.model.RegistrationStatus).values()}"
						th:value="${status.name()}"
						th:text="${status}"
						th:selected="${status == school.status}"
					>
						Registered</option>
				</select>
				<button type="submit" class="btn btn-warning">Update Registration Status</button>
			</form>
		</div>
	</body>
</html>