<!DOCTYPE HTML>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:wp="http://brownmun"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{base}">
	<head>
		<title>Staff Info</title>
		<wp:chunk name="index"/>
		<wp:chunk name="admin"/>
	</head>
	<body>
		<header layout:fragment="header">
			<h1>Staff Info</h1>
		</header>
		<div layout:fragment="body">
			<section>
				<ul class="nav nav-pills nav-stacked">
					<th:block sec:authorize="hasRole('SEC')">
						<li class="nav-item">
							<a href="#" th:href="${#mvc.url('SC#list').build()}" class="nav-link">All Schools</a>
						</li>
						<li class="nav-item">
							<a href="#" th:href="${#mvc.url('AC#exportAwards').build()}" class="nav-link">Export Awards</a>
						</li>
						<li class="nav-item">
							<a href="#" th:href="${#mvc.url('AC#awardsBreakdown').build()}" class="nav-link">Set Awards Breakdown</a>
						</li>
					</th:block>

					<th:block sec:authorize="hasRole('COMMITTEE')">
						<li class="nav-item">
							<a th:href="${#mvc.url('AC#attendanceIndex').buildAndExpand(#authentication.principal.committeeId)}"
							   class="nav-link">
								Attendance
							</a>
						</li>
                        <li class="nav-item">
                            <a th:href="${#mvc.url('AC#awardsIndex').arg(0, #authentication.principal.committeeId).build()}" class="nav-link">
                                Awards
                            </a>
                        </li>
						<li class="nav-item">
							<a th:href="${#mvc.url('CC#viewCommittee').arg(0, #authentication.principal.committeeId).build()}"
							   class="nav-link">
								Manage Committee
							</a>
						</li>
					</th:block>

					<li class="nav-item">
						<a href="#" th:href="${#mvc.url('CC#listCommittees').build()}" class="nav-link">All Committees</a>
					</li>

					<li class="nav-item">
						<a href="#" th:href="${#mvc.url('PC#index').build()}" class="nav-link">Printing</a>
					</li>
				</ul>
			</section>
		</div>
	</body>
</html>