<!DOCTYPE html>
<html xmlns:wp="http://brownmun"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
    <head>
        <title>The Secretariat</title>
        <wp:chunk name="public"/>
    </head>
    <body>
        <header layout:fragment="header">
            <h1>The Secretariat</h1>
        </header>
        <div layout:fragment="body">
            <hr>
            <!--/*@thymesVar id="sec" type="java.util.List<org.brownmun.web.general.SecretariatMember>"*/-->
            <th:block th:each="member : ${sec}">
                <div class="sec-member media">
                    <img th:src="${member.imageAddress}" th:alt="${member.name}" class="sec-image">
                    <div class="media-body">
                        <h5 class="mt-0">
                            [[${member.name}]] - <a th:href="${'mailto:' + member.email}" th:text="${member.title}">Fancy Title</a>
                        </h5>
                        <p th:text="${member.bio}">I do stuff.</p>
                    </div>
                </div>
                <hr>
            </th:block>
        </div>
    </body>
</html>