[Unit]
Description={{ conference.name }} backend
After=docker.service
Requires=docker.service

[Service]
User={{ conference.name }}
PassEnvironment=GOOGLE_APPLICATION_CREDENTIALS VERSION
EnvironmentFile=/etc/{{ conference.name }}/environment
EnvironmentFile=/etc/{{ conference.name }}/version
ExecStartPre=-/bin/sh -c '/usr/bin/docker kill {{ conference.name }} 2>/dev/null'
ExecStartPre=-/bin/sh -c '/usr/bin/docker rm {{ conference.name }} 2>/dev/null'
ExecStart=/usr/bin/docker run --name {{ conference.name }} \
    -v /etc/{{ conference.name }}:/srv/config \
    --workdir /srv \
    --network mun-net \
    {{docker_registry }}/{{ conference.name }}:${VERSION}

[Install]
WantedBy=multi-user.target