<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:wp="http://brownmun"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">BUSUN</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
        <wp:chunk name="common"/>
        <wp:chunk name="bootstrap"/>
        <script th:inline="javascript">
            window.csrf = {
                token: /*[[${_csrf.token}]]*/ null,
                header: /*[[${_csrf.headerName}]]*/ null,
            };
        </script>
    </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="navbar-brand">BUSUN</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="aboutMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us
                        </a>
                        <div class="dropdown-menu" aria-labelledby="aboutMenuLink">
                            <a th:href="@{/about/conference}" class="dropdown-item">The Conference</a>
                            <a th:href="@{/about/brown-providence}" class="dropdown-item">Brown &amp; Providence</a>
                            <a th:href="@{/about/secretariat}" class="dropdown-item">Meet the Secretariat</a>
                            <!--/*<a th:href="@{/about/sustainability}" class="dropdown-item">Sustainability</a>*/-->
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="registrationMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Registration</a>
                        <div class="dropdown-menu" aria-labelledby="registrationMenuLink">
                            <!--/*<a class="dropdown-item" th:href="@{/register}">Register</a>*/-->
                            <!--/*
                            <a class="dropdown-item"
                               href="https://docs.google.com/forms/d/e/1FAIpQLSfKjB2IFWNM9MTdd7meVJIVXwADshlBAsK5H1Pw4Q5xt0uLiA/viewform?usp=sf_link">
                                Apply
                            </a>
                            */-->
                            <a class="dropdown-item" th:href="@{/registration/fees-and-deadlines}">Fees &amp; Deadlines</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="conferenceMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Conference</a>
                        <div class="dropdown-menu" aria-labelledby="conferenceMenuLink">
                            <a th:href="@{/conference/committees}" class="dropdown-item">Committees</a>
                            <a th:href="@{/conference/preparation}" class="dropdown-item">Preparation &amp; Procedure</a>
                            <a th:href="@{/conference/schedule}" class="dropdown-item">Schedule</a>
                            <a th:href="@{/conference/keynote-speaker}" class="dropdown-item">Keynote Speaker</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="logisticsMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Logistics</a>
                        <div class="dropdown-menu" aria-labelledby="logisticsMenuLink">
                            <a th:href="@{/logistics/directions}" class="dropdown-item">Directions</a>
                            <a th:href="@{/logistics/hotels}" class="dropdown-item">Hotels</a>
                            <a th:href="@{/logistics/parking}" class="dropdown-item">Shuttles &amp; Parking</a>
                        </div>
                    </li>
                    <!--<li class="nav-item" sec:authorize="hasRole('ROLE_ADVISOR')">-->
                        <!--<a th:href="@{/yourbusun/}" class="nav-link">Your BUSUN</a>-->
                    <!--</li>-->
                    <li class="nav-item">
                        <a th:href="@{/yourbusun/}" class="nav-link">Your BUSUN</a>
                    </li>
                </ul>
            </div>
            <form th:action="@{/logout}" method="post" th:if="${#httpServletRequest.remoteUser}" class="form-inline">
                <button type="submit" class="btn btn-primary">Log Out</button>
            </form>
            <div class="form-inline" th:unless="${#httpServletRequest.remoteUser}">
                <a class="btn btn-primary" th:href="@{/login}">Sign In</a>
            </div>
        </nav>

        <div id="main" class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <!-- Sidebar -->
                    <ul class="list-group">
                        <!--/*
                        <li class="list-group-item">
                            <a class="btn btn-primary mx-auto" href="/register">Register</a>
                            <a class="btn btn-primary mx-auto"
                               href="https://docs.google.com/forms/d/e/1FAIpQLSfKjB2IFWNM9MTdd7meVJIVXwADshlBAsK5H1Pw4Q5xt0uLiA/viewform?usp=sf_link">
                                Apply
                            </a>
                        </li>
                        */-->
                        <li class="list-group-item">
                            <h5>Announcements</h5>
                        </li>
                        <li class="list-group-item">
                            <h5>Important Dates</h5>
                            <dl>
                                <dt>April 3, 2017</dt>
                                <dd>BUSUN registration opens</dd>
                            </dl>
                        </li>
                        <li class="list-group-item">
                            <h5>Social Media</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a href="https://www.facebook.com/busunbuzz">Facebook</a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://twitter.com/busunbuzz">Twitter</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://instagram.com/busunbuzz">Instagram</a>
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a href="/admin" class="nav-link">Staff</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="col-md-10">
                    <div class="row">
                        <div class="col">
                            <header layout:fragment="header">
                                <h1>Page Header</h1>
                            </header>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div layout:fragment="body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <footer class="col-md-12">
                    <p class="mx-auto text-center">Copyright 2017 | Brown University Model United Nations</p>
                </footer>
            </div>
        </div>
    </body>
</html>
