<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:wp="http://brownmun"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">
    <head>
        <title>Login</title>
    </head>
    <body>
        <header layout:fragment="header">
            <h1>Login</h1>
        </header>

        <div layout:fragment="body">
            <div class="alert alert-danger" role="alert" th:if="${param.error}">The information you entered is incorrect.</div>
            <div class="alert alert-success" role="alert" th:if="${param.logout}">You have been logged out.</div>
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="username">Email Address</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Log in!</button>
                <p class="form-text text-muted">
                    <a th:href="@{/advisor/forgot-password}">Forgot your password?</a>
                </p>
            </form>
        </div>
    </body>
</html>