<!DOCTYPE html>
<html>
    <head>
        <title>Windmills!</title>

        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100vw;
                height: 100vh;

                background-color: #007f5c;
            }

            .windmill {

            }
        </style>
    </head>
    <body>
        <div class="windmill">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Wind_turbine.gif" alt="Wind Turbine">
        </div>
    </body>
</html>