.about-section {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-around;
}

.about-image {
    display: block;
    padding: 1rem;
}

.about-description {
    padding: 1rem;
}
