.about-section {
    display: flex;
    padding: 1rem;
    @if ($conference == 'busun') {
        flex-direction: row;
    } @else {
        flex-direction: column;
    }
    justify-content: space-around;
}

.about-image-container {
    flex: 1;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    @if ($conference == 'busun') {
        width: 100%;
    } @else {
        width: 60%;
    }
    //height: auto;
}

.about-description {
    flex: 2;
    padding: 1rem;
    height: auto;
}
