<!DOCTYPE html>
<html xmlns:wp="http://brownmun"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
    <head>
        <title>Schedule</title>
        <wp:chunk name="public"/>
    </head>
    <body>
        <header layout:fragment="header">
            <h1>Conference Schedule</h1>
        </header>
        <div layout:fragment="body">
            <div class="alert alert-info">
                This schedule is currently tentative, but we will update this page as it is finalized.
            </div>

            <table class="table table-hover">
                <tr><th colspan="2" class="text-center">Thursday, March 3, 2018</th></tr>

                <tr><td>5:00 - 7:00PM</td><td class="spaced">Registration and Check-In</td></tr>
                <tr><td>6:15 - 7:00PM</td><td class="spaced">Champagne Reception</td></tr>
                <tr><td>7:00 - 7:45PM</td><td class="spaced">Opening Ceremonies</td></tr>
                <tr><td>8:00 - 11:00PM</td><td class="spaced">Committee Session I</td></tr>

                <tr><th colspan="2" class="text-center">Friday, March 4, 2018</th></tr>

                <tr><td>1:00 - 4:00PM</td><td class="spaced">Committee Session II</td></tr>
                <tr><td>4:00 - 5:30PM</td><td class="spaced">Break</td></tr>
                <tr><td>5:30 - 8:00PM</td><td class="spaced">Committee Session III</td></tr>
                <tr><td>8:30 - 10:30PM</td><td class="spaced">Pub Night</td></tr>

                <tr><th colspan="2" class="text-center">Saturday, March 5, 2018</th></tr>

                <tr><td>10:00AM - 12:30PM</td><td class="spaced">Committee Session IV</td></tr>
                <tr><td>12:30 - 1:30PM</td><td class="spaced">Lunch Break</td></tr>
                <tr><td>1:30 - 4:30PM</td><td class="spaced">Committee Session V</td></tr>
                <tr><td>4:30 - 6:00PM</td><td class="spaced">Dinner Break</td></tr>
                <tr><td>6:00 - 9:00PM</td><td class="spaced">Committee Session VI</td></tr>
                <tr><td>10:00PM - 1:00AM</td><td class="spaced">Club Night</td></tr>

                <tr><th colspan="2" class="text-center">Sunday, March 6, 2018</th></tr>
                <tr><td>9:30AM - 12:00PM</td><td class="spaced">Committee Session VII</td></tr>
                <tr><td>12:15PM - 1:00PM</td><td class="spaced">Closing Ceremonies</td></tr>
            </table>
        </div>
    </body>
</html>