<!DOCTYPE html>
<html xmlns:wp="http://brownmun"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
    <head>
        <title>Fees and Deadlines</title>
        <wp:chunk name="public"/>
    </head>
    <body>
        <header layout:fragment="header">
            <h1>Fees, Deadlines &amp; Application Information</h1>
        </header>
        <div layout:fragment="body">
            <h2>General Registration Policies</h2>
            <p>
                Applications are recorded on a first-come, first-served basis as determined by the timestamp of
                your online registration. Decisions will be released by April 21st, 2017. Registering early will
                aid your application but does not guarantee admission. We will maintain a waitlist as in prior years
                if any additional spots open up.
            </p>
            <p>
                Schools with 2500 students or fewer are limited to 25 delegates at BUSUN. Schools with more than 2500
                students are limited to 35 delegates.
            </p>

            <h2>Conference Fees and Payment</h2>
            <p>
                Fees are split up into two portions: a school fee, paid once, a delegate fee paid for each delegate
                registered, and a chaperone fee paid for each chaperone in excess of the ratio of one chaperone for
                every ten delegates.
            </p>
            <p>
                The school fee must be postmarked by the indicated deadlines in order for your registration to be
                complete. Schools that do not pay the school fee by the Regular Payment deadline may forfeit their
                space at BUSUN. Schools on the waitlist are not required to pay the school fee until they are offered
                a spot at the conference.
            </p>
            <p>
                Schools placed on the waitlist prior to August 1 will be permitted to pay at the early paymentrates.
            </p>

            <table class="table">
                <thead>
                    <tr>
                        <th>Fee</th>
                        <th>Early Payment</th>
                        <th>Regular Payment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>School Fee</th>
                        <td>$55</td>
                        <td>$65</td>
                    </tr>
                    <tr>
                        <th>Delegate Fee <small>(paid per delegate)</small></th>
                        <td>$60</td>
                        <td>$70</td>
                    </tr>
                    <tr>
                        <th>
                            Chaperone Fee
                            <a href="#" data-toggle="tooltip" title="The extra chaperone fee is paid per chaperone that exceeds the ratio of one chaperone for every ten delegates.">
                                <small>(paid per extra chaperone)</small>
                            </a>
                        </th>
                        <td>$10</td>
                        <td>$10</td>
                    </tr>
                </tbody>
            </table>
            <p>
                Finally, shuttle fees (information regarding shuttles
                <a href="/logistics/parking">here</a>), are $18 per delegate or chaperone, and are subject to our
                refund policies, as specified below.
            </p>

            <h2>Waitlist Information</h2>
            <p>
                Schools will be selected from the waitlist to attend the conference in three waves, prioritized
                by the urgency of their travel considerations:
            </p>
            <ul>
                <li>
                    Mid-Late May - In the first wave, we will focus on admitting international schools
                    and schools far away from Brown who would need to make travel plans well in advance.
                </li>
                <li>
                    August - In the second wave, we will admit schools in the New England region if we
                    have additional capacity.
                </li>
                <li>
                    October - In the third wave, if BUSUN has additional capacity we will admit local schools
                    for whom travel and accommodations are not an issue.
                </li>
            </ul>

            <h2>Deadlines</h2>
            <p>
                School fees must be paid by <b>September 18, 2017</b>. However, the rate (early or regular) at
                which you will be charged will depend upon the postmarked date of your school fee when it is sent.
            </p>
            <p>
                The final deadline for all fees including delegate, chaperone, and shuttle fees is
                <b>October 1, 2017</b>.
            </p>
            <p>
                Payment will only be accepted in the form cash and checks. We cannot process credit cards.
                Please make all checks out to <b>Brown University Model UN</b>. Payments may be mailed to us at:
                <address>
                    <span class="pl-3"><strong>Brown University Simulation of the United Nations</strong></span><br />
                    <span class="pl-3">Box 1930</span><br />
                    <span class="pl-3">69 Brown St.</span><br />
                    <span class="pl-3">Providence, RI 02912</span>
                </address>
            </p>

            <h2>Cancellation and Refund Policy</h2>
            <p>
                The initial school fee is non-refundable. However, the refund policies for the delgate, chaperone,
                and shuttle fees are as follows:
            </p>
            <dl class="dl-horizontal">
                <dt>Before October 1:</dt>
                <dd>Full Refund of Payments</dd>

                <dt>October 1 - 15:</dt>
                <dd>50% Refund of Payments</dd>

                <dt>After October 15:</dt>
                <dd>No Refund</dd>
            </dl>

            <h2>Financial Aid</h2>
            <p>
                BUSUN is proud of offer need-based financial aid, and an application for aid will not affect
                your registration status.
            </p>
            <p>
                The aid application can be found on the registration form. Please contact
                <a href="mailto:info@busun.org">info@busun.org</a> if you have any questions.
            </p>
        </div>
    </body>
</html>