.form {
    display: flex;
    flex-direction: column;
}

.form > fieldset {
    display: flex;
    border: none;

    flex-direction: column;
}

.form input, .form textarea {
    display: block;
    margin-top: 10px;
    padding: 5px;

    border: 1px solid var(--color-rule);
}

.form input[type="radio"] {
    display: inline;
    margin: 10px;
}

.form .form-error, .form-warning {
    font-size: 0.8em;
    padding: 0;
    margin: 2px 2px;
}

.form .form-error {
    color: var(--color-error);
}

.form .form-warning {
    color: var(--color-warning);
}