<!DOCTYPE html>
<html xmlns:wp="http://brownmun"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
    <head>
        <title>Error</title>
    </head>
    <body>
        <header layout:fragment="header">
            <h1 th:text="${title}">Something went wrong...</h1>
        </header>
        <div layout:fragment="body">
            <p>
                There was an unexpected error with the site. It might turn into a crisis committee topic
                for next year, but in the meantime, try refreshing the page.
            </p>
            <p>
                If it keeps happening, please contact our
                <a href="mailto:technology@busun.org">Director of Technology</a> with the following information:
            </p>
            <dl class="row">
                <dt class="col-sm-3">Error</dt>
                <dd class="col-sm-9" th:text="${error}">Error</dd>
                <dt class="col-sm-3">Message</dt>
                <dd class="col-sm-9" th:text="${message}">It broke</dd>
                <dt class="col-sm-3">Status</dt>
                <dd class="col-sm-9" th:text="${status}">500</dd>
                <dt class="col-sm-3">Timestamp</dt>
                <dd class="col-sm-9" th:text="${#dates.format(timestamp)}">Sat Mar 11 23:43:56 EST 2017</dd>
            </dl>
        </div>
    </body>
</html>