{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "modules": false,
      "useBuiltIns": true
    }],
    "react"
  ],
  "plugins": [
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }],
    "transform-class-properties",
    "react-hot-loader/babel",
    "ramda"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  }
}