<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:wp="http://brownmun.org/th/webpack"
        xmlns:conference="http://brownmun.org/th/conference"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base.html}"
>
    <head>
        <title>Meet the Secretariat</title>
        <wp:chunk name="info-page"/>
    </head>

    <body>
        <main layout:fragment="content" class="sec--main">
            <h1>Meet the Secretariat</h1>

            <ul class="sec--sec-list">
                <!--/*@thymesVar id="secretariat" type="java.util.List<org.brownmun.core.secretariat.SecretariatMember>"*/-->
                <li th:each="mem : ${secretariat}" class="sec--member">
                    <img class="sec--member-photo" th:src="${mem.image}" th:alt="${mem.name}">
                    <h2 class="sec--member-name">
                        <span th:text="${mem.name}">Name</span>
                        &mdash;
                        <a th:href="${'mailto:' + mem.emailAddress}" th:text="${mem.title}">Title</a>
                    </h2>
                    <p class="sec--member-bio" th:text="${mem.bio}">About</p>
                </li>
            </ul>
        </main>
    </body>
</html>