<!DOCTYPE html>
<html xmlns:wp="http://brownmun"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
    <head>
        <title>Brown MUN</title>
        <wp:chunk name="public" />
    </head>
    <body>
        <header layout:fragment="header">
            <h1>The Brown University Simulation of the United Nations</h1>
        </header>
        <div layout:fragment="body">
            <img class="busun-cover" src="https://storage.googleapis.com/busun_assets/busun-cover.png" alt="BUSUN XXI">


			<p>
				Welcome to the Brown University Simulation of the United Nations (BUSUN), Brown University's Model
				United Nations conference for high school students. Each year, we host students from around the world on
				the Brown University campus for a weekend of informed, exciting debate.
			</p> 

			<p>
				A central feature of our ideology has always been to introduce delegates to issues and subject matters
				that may be less well-known but which we feel are important. By focusing on unusual topics, we hope to
				challenge the way delegates think and approach problems outside the classroom so that they can build the
				foundations for becoming critical thinkers and articulate and diplomatic speakers.
			</p>

			<p>
				BUSUN has consistently distinguished itself from other conferences of its caliber by focusing on
				creating small, intimate committee settings. Regardless of previous experience, delegates will find that
				BUSUN committee chairs challenge them to understand the most pressing global issues from new
				perspectives and grant them the ability to shape the direction of debate and decision-making.
			</p>
        </div>
    </body>
</html>
