{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier"
  ],
  "rules": {
    "indentation": 4,

    "at-rule-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,

    "font-family-name-quotes": "always-where-recommended",
    "function-url-quotes": "always",
    "selector-attribute-quotes": "always",
    "string-quotes": "double",

    "at-rule-empty-line-before": ["always", {
      "ignore": ["blockless-after-same-name-blockless"]
    }],

    "declaration-empty-line-before": ["always", {
      "except": ["first-nested"],
      "ignore": ["after-declaration", "after-comment", "inside-single-line-block"]
    }]
  }
}