@import "../../lib/responsive.css";

.base > header {
    background-color: var(--color-primary);
    color: white;
    font-size: 1.2rem;

    max-width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;

    display: flex;
    flex-direction: row;
    padding: 0 10px;
}

.base > header .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.base > header .title img {
    /* wow css can do math now! */
    width: calc(0.9 * 1.5 * var(--navbar-height));
    height: calc(0.9 * var(--navbar-height));
}

.base > header h1 {
    font-size: 2em;
}

.base > header > nav {
    flex: 3 1 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.base > header > nav > ul {
    width: 100%;
    /*min-width: 800px;*/
    padding: 0;
    margin: 0;

    list-style: none;
    display: inline-flex;
    justify-content: space-around;
}

.base > header button {
    padding: 0;
    color: unset;
    background-color: transparent;
    border: 0;
}

.base > header a {
    padding: 1em 0;
    color: unset;
    text-decoration: none;
}

.base > header a:hover, .base > header button:hover {
    color: color(white blackness(15%));
}
